[2021-09-15 04:00] ATrump opened #1 "Disable GPUs"
Is there any way to disable mining on some GPUs?

[2021-09-15 04:34] bzminer commented on #1
Hi @ATrump , in the config file there's an option for each gpu called start_mining. By default it's set to true for each gpu. Set it to false to not mine on that gpu

[2021-09-15 19:58] ATrump commented on #1
Thx

[2021-09-15 20:09] bzminer commented on #1
no problem!

[2021-09-15 20:09] #1 closed

[2021-10-10 18:15] DarkMatterRed opened #2 "Quick DAG generation"
Hi, guys! Is there a way you could possibly add up to the miner's functionality - e.g. am mining on Ezil pool and I've noticed that many a stale share being sent over to the pool while switching up between ETH/ZIL algos. It happens at the very moment of switching every once in a while!
I couldn't find this kinda parameter like TRM and T-Rex have (--eth_dag_cache=0/"extra-dag-epoch": "0")
I'll real

[2021-10-10 18:29] bzminer commented on #2
hi @DarkMatterRed , i'll look into that and get back here with my findings/hopefully solution

[2021-10-11 13:23] FrankFioretti opened #3 "Huge number of stale shares"
Tried this out today and instantly got 30% stale shares mining to us1.ethermine. I am excited for this miner but cant live with only 70% of my shares.

[2021-10-12 16:42] FrankFioretti opened #4 "Cannot select specific devices"
I would like the ability to mine only on specific devices within a given rig. I am aware that I can select between AMD or NVidia but in my use case I have one rig with 6 AMD cards. Three of these mine ETH and the other 3 mine ERG. I would like to use BZ for the 3 mining ETH but have no way to stop it from mining on all 6 cards.

[2021-10-12 16:43] #4 closed

[2021-10-12 16:46] FrankFioretti commented on #4
I have closed this after reading the other similar closed issue, though it would be nice if this were an option on the CLI vs being embedded in the config as this would make automated configuration simpler on managed mining OS's (Hive).

[2021-10-14 13:58] FrankFioretti commented on #3
In testing with 4.4, I am getting thousands of the message <Warn> GPU XX Solution rejected.
![Solution_rejected](https://user-images.githubusercontent.com/40969570/137332360-858a8e4c-4079-4c7b-8172-703bd9443b7e.jpg)

[2021-10-14 20:26] bzminer commented on #3
@FrankFioretti the v4.4 release has been updated with that validation code. when you get a chance could you try that version and see if that fixes the invalid shares issue? Otherwise, there's an option to reset overclocks before dag generation (which sets them back after dag is generated), "reset_oc_dag_gen"

[2021-10-17 16:52] roger3837 opened #5 "<Error> No mining devices detected! and LHR issue"
Issue #1
![image](https://user-images.githubusercontent.com/65729719/137637033-39f76dc0-0e96-4d14-8516-d74661f22084.png)
Issue #2
my GPU is EVGA 3080 FTW3 LHR, any --LHR-tune code can improved the hashrate?

[2021-11-19 23:02] DeeDeeRanged opened #6 "Browser gui not scaling properly"
Rig window scales nicely in Firefox
Pools/Devices and Pool Solutions do not scale properly.
Console does scale nicely.

Would be nice to fix it so that the Pools/Devices and Solutions window.
![Screenshot at 2021-11-20 00-01-45](https://user-images.githubusercontent.com/12376567/142701977-641a4714-beef-404f-aa4b-2aacbd1b4bf0.png)
s

Thanks in advance.

[2021-11-20 00:00] DeeDeeRanged opened #7 "bitcointalk https://bitcointalk.org/index.php?board=160.0"
Please update your thread on https://bitcointalk.org/index.php?topic=5352148.0 and chnage the titel to something like:
BzMiner - Advanced Nvidia / AMD ETH/ETC  miner 0.5% devfee
as it probably will get more focus.

[2021-11-20 17:57] bzminer commented on #6
hey @DeeDeeRanged ! I will be updating the gui in two releases, I will be sure that it scales properly in that release, thank you!

[2021-11-20 17:58] bzminer commented on #7
@DeeDeeRanged thanks for reminding me, i'll  get that thread updated shortly!

[2021-12-23 19:18] bzminer commented on #6
hey @DeeDeeRanged , this issue is fixed in the latest (v5.1) version of BzMiner

https://github.com/bzminer/bzminer/releases/tag/v5.1

![image](https://user-images.githubusercontent.com/83083846/147267304-8357dd99-1638-4d83-a41a-0ebabd01cd4b.png)

[2021-12-23 19:18] #6 closed

[2022-01-15 20:25] Moskga commented on #5
windows 7. drivers 472.12, 465.89
gtx 1070

failed load nvml

why????

[2022-01-15 22:31] Shindorei commented on #5
Still have this issue on LHR and non LHR cards. It cant detect gpus

[2022-01-16 02:06] bzminer commented on #5
hello, nvml.dll is not found. try looking in your nvidia install directory, or maybe system32 (although if its in system32 it should have been found), then copy that nvml.dll to the bzminer directory, or try reinstalling the nvidia drivers

[2022-01-16 08:28] viper1986 opened #8 "Main loop not responding! v7.1.1"
Hi,

I have problem when mining ALPH ( BLAKE3-ALPH ) .
Miner is restarting every couple of minutes.
Pool accepted alph solution from GPU 1:0! (21ms)

 <Error> Main loop not responding! Restarting BzMiner
************************
**                    **
**   BzMiner v7.1.1   **
**                    **
************************

 <Warn> CUDA Error: no CUDA-capable device is detected
 --------------

[2022-01-16 09:30] nitrogenium commented on #8
same problem here

[2022-01-16 11:31] hairetikos commented on #8
same

it mines for a couple of minutes via stratum, the pool accepts the shares correctly.

then it has a ` <Debug> Connecting with stratum failed. Trying alphstratum.`
then it tries `alphstratum`, and fails, then fails the repeat, and eventually restarts the miner

[code]

[2022-01-16 13:09] cloudis31 commented on #8
The v7.1.1 is not stable. This issue will be fixed in v7.1.2

[2022-01-16 20:45] cool2hatex commented on #5
Did it hang gpu detected errors writing and the program disappears...

[2022-01-17 02:04] bzminer commented on #5
@cool2hatex could you try updating your nvidia drivers? also v7.1.1 was unstable, you should use v7.1.3

[2022-01-17 06:25] AleksP commented on #8
The same here on 12x1660s! Very, very, very unstable! Every ~100 shares it crashes again and again!

[2022-01-17 08:30] mtmtmt123 commented on #5
I have this error @bzminer  if i copy nvml.dll to directory
![grafik](https://user-images.githubusercontent.com/93097424/149734317-81d6c560-e16b-4d5c-b984-d00b303a4ba6.png)

[2022-01-17 09:25] Moskga opened #9 "1% reject -is normal?"
bzminer 7.1.3  metapool.

5*1070, win7 drivers 472.12  with and without overclock - got reject

[2022-01-17 10:09] mtmtmt123 commented on #5
now works but all time
 <Error> Main loop not responding! Restarting BzMiner
************************
**                    **
**   BzMiner v7.1.1   **
**                    **
************************

 ----------------------------------------------- devices ---------------------------------------------
 | #   | name:nw                           | free   | total  | core    | mem      | fan | pwr

[2022-01-17 11:58] cloudis31 commented on #8
Please update to the latest version if you have not already

[2022-01-17 12:01] cloudis31 commented on #9
Yes, this is normal, those are stales, any network delay can cause the share to get to the pool a little late

[2022-01-17 12:01] viper1986 commented on #8
I update. No errors in v7.1.3

[2022-01-17 13:11] Moskga commented on #9
<Warn> GPU: 4:0 solution rejected:  error code: 26 invalid block chain index

why?

[2022-01-17 13:16] bzminer commented on #9
yeah, i believe these are just stale, it wasn't able to find  the chain because the share was too late

[2022-01-17 13:38] mtmtmt123 commented on #9
in 40min i have 37 rejected, on official miner is this not (alph)

[2022-01-17 14:10] bzminer commented on #9
@mtmtmt123 how many accepted do you have? its not uncommon to have 1-2% stale shares (they show as rejected)

[2022-01-17 14:17] mtmtmt123 commented on #9
Alephium Flight Sheet
bzminer-ver. 7.1.3 v7.1.3
97.19%A 1558R 45

[2022-01-17 14:51] cloudis31 commented on #9
@mtmtmt123 that could be, stales are very sensitive to high ping. An optimization I'm working on is improving the time between when work is received to time share is submitted, I believe there is a little room for improvement there

[2022-01-17 19:40] yahorbukhta opened #10 "Alephium: Unknown stratum method alph_submitHashrate"
Miner call strange method `alph_submitHashrate`.

[2022-01-17 19:44] bzminer commented on #10
hi @yahorbukhta , we decided on the alephium discord server (a couple devs) that since this was not currently implemented in any of the pools or code at the time, that we would follow the pattern of eth_submitHashrate and use alph_submitHashrate for the miner to send the reported hashrate to the pool

[2022-01-17 19:46] #10 closed

[2022-01-18 05:15] franning01 opened #11 "issue Fail to load NVML"
getting issue running bzminer 7.1.4 . system work with other miner

[2022-01-18 05:33] franning01 commented on #11
got it working with latest driver from NVDIA

[2022-01-18 05:33] #11 closed

[2022-01-18 05:35] cloudis31 commented on #11
Thanks for the update, a couple people have had this same experience, I hadn't had the chance to reply sooner, I'm sorry

[2022-01-18 10:13] Moskga commented on #9
No this error only on 7.1.3, 10% оf all shars!!!
7.1.12B more stabile !!! ( overclock some)

[2022-01-18 12:26] lzy2009 opened #12 "win10Unable to run"
I tried to mine ALPH, but the miner could not connect to the mining pool after starting, and <Error> Cuda Error Detected was displayed!
 <Error> GPU 7:0: Initialization failed
 <Error> Hung GPU detected! (7:0)
 <Error> Hung GPU detected! (7:0)
 <Warn> Failed to run alph. Resetting device.
 <Error> Cuda Error Detected!
 <Error> Hung GPU detected! (3:0)
 <Warn> Failed to run alph. Resetting device.

[2022-01-18 13:32] t72o commented on #12
got this
try bzminer_v7.1.4_windows_cuda_tk.zip

[2022-01-18 16:36] i8088 opened #13 "I 1st time Try BZminer but : _Error_ No mining devices detected!"
OS : ubuntu  Mining OS : simplemining.net
GPU's   gtx 1070
Drivers :  nvidia 470.xx  and  495.46   (I try)

Error : _Error_ No mining devices detected!

So I mine with other miner softwares with no problem

[2022-01-19 07:39] AleksP opened #14 "How to tune pool connection timeout?"
Subj. Thanks.

[2022-01-19 10:16] tymoteuszrogalewski opened #15 "No mining devices detected! But only on some rigs"
Hello. We just added your miner to our SimpleMining.net OS starting from 7.1.4 version ;-)
but...

Our system is based on Ubuntu18, mostly with NV driver 470.74 (cuda 11.2 compatible)

1. On this system with GPUs 1070 works ok,
GPU 0: NVIDIA GeForce GTX 1070
GPU 1: NVIDIA GeForce GTX 1070
GPU 2: NVIDIA GeForce GTX 1070
GPU 3: NVIDIA GeForce GTX 1070
GPU 4: NVIDIA GeForce GTX 1070
GPU 5: NVIDIA GeF

[2022-01-19 19:03] bzminer commented on #9
@Moskga you should get the latest version, v7.1.5, it has a bug fix in the mining algorithm that cause roughly 10% invalid shares for some users (due to an optimization that i have disabled for now, will look back into re-enabling that optimization after i can find out why its causing invalid shares sometimes)

[2022-01-19 19:03] bzminer commented on #12
@lzy2009  like @t72o mentioned, try using the cuda_tk version of bzminer (latest version is currently v7.1.5)

[2022-01-19 19:04] bzminer commented on #13
i'll have to look into why the version simplemining has isn't working, i'll report back here if i figure it out (or if someone else does please post here)

[2022-01-19 19:06] bzminer commented on #14
hey @AleksP there should be an option in the config.txt file under the pool_configs for setting this. it seems i have accidentally left it out in the release so its not available at this time. i will add this to my list for things to do in the next release!

[2022-01-19 19:07] bzminer commented on #15
@tymoteuszrogalewski do you have the output from the rig that is not working? is it mentioning nvml not found or anything? otherwise you could try with the cuda_tk version of bzminer and see if that helps (although i'm not sure its going to help with this particular situation since your gpus show up)

[2022-01-19 22:24] emilianovilla opened #16 "Select device mining on Hiveos"
Not work select device for mining en hiveos.

"disable": "01:00 05:00" or "disable": "1 3"

[2022-01-19 23:41] bzminer commented on #16
@emilianovilla the "Extra config arguments" in hive are things that go into config.txt, not the command line. the --disable is command line. hive has a different box called disabled gpus or something that their integration script uses to disable gpus. Please contact hive support

[2022-01-20 07:07] t72o commented on #9
I've got many rejects in solo mining
 Found a blake3 solution! (alphstratum pool may not respond)
 Found a blake3 solution! (alphstratum pool may not respond)
 Found a blake3 solution! (alphstratum pool may not respond)
 Found a blake3 solution! (alphstratum pool may not respond)
 <Warn> GPU: 40:0 solution rejected:  (1ms)

 <Warn> GPU: 40:0 solution rejected:  (1ms)

 <Warn> GPU: 40:0 solution re

[2022-01-20 07:59] tymoteuszrogalewski commented on #15
All rigs use same miner binary package based on cuda_tk version. Linux images also - same byte to byte ;-). Will do some additional test (manual add cuda libraries to package with some few versions). Will get you know about results in few hours.

[2022-01-20 11:05] tymoteuszrogalewski commented on #15
OK, now its working. Here is my debug results.

1. Admin privileges is required to your miner work. Without this it throw errors that X11 is not found and no cuda devices found.

2. I used now version 7.1.6 and (on both NV drivers 470.74 (cuda 11.4 compatible) and 495.46 (cuda 11.5 compiatible) same results:
your tk binary version do not work and gives errors:
[code]

But then I use no-tk binary v

[2022-01-20 17:19] bagyanugraha opened #17 "Invalid Solutions"
I still get many invalid solutions, although I use 7.1.6 version. I had already set low OC, but still get many invalid solutions

[2022-01-20 20:55] bzminer commented on #17
hey @bagyanugraha , its not uncommon to have like 1-2% stale shares (they show up as rejected in bzminer). If you have higher than that, then you may have a network latency issue. check the latency of the submitted shares, if the latency is higher, you'll have more stales

[2022-01-21 12:46] am01533nk0 opened #18 "Third party wallets for ETH"
Seems like bzminer don't like wallet for ETH not like 0x***, for 2miners pool users there is a possibility get their cryptocurrency without ETH fee, but they need to use nano_*** wallet instead 0x***, link below... Can you fix this? bzminer hang while using nano_*** wallet. Thanks!

[https://2miners.com/blog/how-to-get-payouts-for-ethereum-mining-without-fees/](url)

[2022-01-21 12:58] am01533nk0 commented on #18
Sorry, used this wallet with ethstratum2, correct is ethstratum+ssl://eth.2miners.com:12020

[2022-01-21 12:58] #18 closed

[2022-01-22 12:45] altinsoft opened #19 "Hiveos load problem"
Hi,

We are solo mining Alephium on Hiveos. (with AMD graphics cards).
Load average is getting too high. What is the solution to this problem? Please provide a solution.

![resim](https://user-images.githubusercontent.com/31034706/150639026-eaf0c0f2-ccd8-4520-89c5-095477d50b93.png)

Load average is getting too high !

Thank you.

[2022-01-22 13:34] Shekelme opened #20 "Cuda error, GPU Initialization failed - HiveOS"
Can't start the miner under HiveOS 0.6-213@220121.

[code]

[2022-01-22 14:47] Shekelme commented on #15
Still can't start the mining (cuda_tk version) on GTX1070s rig even with `sudo -i`:

[code]

[2022-01-23 04:57] jsangeorzan opened #21 "Driver crash on miner stop"
Running Windows 10 with latest nvidia driver.  Using a 3080 12GB (Newest model).  Miner works great when I run it, since I use the PC for other things I still stop it and when I hit ctrl+c to stop it, the display driver crashes and PC freezes up.

I thought it was my clock settings but it did this at stock settings too with no overclocks or power limiting in place.

Perhaps its due to the latest n

[2022-01-23 14:18] i8088 commented on #13
Now it is work with last miner update. With Root permission. But there is no HASH stats on dashboard. Please provide API host connection for Simplemining

[2022-01-23 15:40] mtmtmt123 opened #22 "restarts on new and old"
hourly restarts

[2022-01-23 17:58] i8088 opened #23 "No HASH stats on dashboard."
there is no HASH stats on dashboard. Please provide API host connection for Simplemining.

Miner work but , no stats on Simplemining Dashboard.   0 h/s

[2022-01-23 21:18] mtmtmt123 opened #24 "A/R/I/P-P???"
Can you help me with the p please recieve i my block reward or not?

[2022-01-24 00:57] cloudis31 commented on #24
Hey @mtmtmt123 , p stands for pending. Originally one of the pools using alphstratum protocol was not responding to solution submission, so I added the p column to show shares that were found but did not get a response from the pool. As far as block reward, bzminer only shows what the pool or node sat is a valid or rejected solution. The full node  from my understanding does not know if you've act

[2022-01-24 01:30] flash0222 opened #25 "Nvidia 3070's reported as Inno3d iChill X4"
![image](https://user-images.githubusercontent.com/28353525/150707974-5e8b7a7b-90c1-4ec7-a3c5-0a84e0d2ff4b.png)

v7.2.1 is reporting my 3070 Nvidia cards as Inno3d RTX 3070 iChill x4

[2022-01-24 07:32] AleksP commented on #22
+

[2022-01-24 07:36] mtmtmt123 commented on #22
on 7.20 no restarts. ,my fail

[2022-01-24 07:36] #22 closed

[2022-01-24 07:44] #24 closed

[2022-01-24 16:50] flash0222 opened #26 "Displays card # incorrect order"
![image](https://user-images.githubusercontent.com/28353525/150827148-daa9bc5a-882e-42b8-a78d-5ca12c1f5418.png)

Starts off with #10, then 11, then 12, then 1, then 2, etc
Be nice if it showed the cards in order 1,2,3,4,5,6,7,8,9,10,11,12

[2022-01-24 17:34] DougD1991 opened #27 "High L.A. in Hive OS"
The version 7.2.1 is high Load Average (L.A.) on HIVE OS.

[2022-01-24 19:15] cloudis31 commented on #27
Hey @DougD1991 thank you, currently working on a fox for this for next release

[2022-01-25 00:50] zulu1905 opened #28 "ssl connection"
stratum+ssl://pool.woolypooly.com:3106   not wotking
but
ssl://pool.woolypooly.com:3106  is working

the address given by the pool is stratum+ssl://pool.woolypooly.com:3106

so

ssl://   or   stratum+ssl://   which is the  correct

and  stratum+tcp not working too

 i was able to connect without stratum+tcp

[2022-01-25 01:36] cloudis31 commented on #28
Hey @zulu1905 , stratum+ssl should be the correct way. I will look into this issue for tomorrow's release, thank you!

[2022-01-25 02:20] bzminer commented on #19
hey @altinsoft , the next release should fix the load issue! i'll post back here when its out

[2022-01-25 02:21] bzminer commented on #20
hey @Shekelme
BzMiner requires Nvidia drivers supporting Cuda 11.5 or greater (Nvidia driver >= 495.29.05)
BzMiner cuda_tk requires Nvidia drivers supporting Cuda 11.2 or greater (Nvidia driver >= 460.27.03)

so you'll have to update your drivers unfortunately, 11.2 is the earliest cuda bzminer supports

[2022-01-25 02:22] bzminer commented on #21
@zerox-20 i think we talked in discord, this might be a driver issue like you mentioned, were you able to figure it out yet?

[2022-01-25 02:23] bzminer commented on #23
hey @i8088 , that was an issue with a previous release where the some pools disconnecting caused a reconnection loop where the connection wasn't able to be made again. latest version should fix that

[2022-01-25 02:24] bzminer commented on #25
This looks to be a problem with incorrect information in the internal database, i'll look into that for a later release~

[2022-01-25 02:25] bzminer commented on #26
@flash0222 this was a bug with an earlier version, this should be fixed in a 7.2 release

[2022-01-25 02:32] zerox-20 commented on #21
Nope I have not re-tried it yet as I was waiting to see if a newer driver maybe came out from nvidia.  The only logs I have is the nv display driver crashing in syslog since the miner is technically working fine.

[2022-01-25 07:18] GdalexAlex opened #29 "Watchdog every hour in HiveOS. 7.2.1"
Miner v.7.2.1 restart every hour. In log files '<Error> Watchdog detected an issue. BzMiner restarted 29 times.'
Last record in any log is table of devices. No errors. Just uptime timer is 00:59:41s.

[2022-01-25 10:14] zulu1905 commented on #28
if the use like this ;
alphstratum+ssl://    its working, (i tried at woolpooly.com)
and for ethereum, ethstratum+ssl://  is working too  (i tried at ezil.me) and stratum+ssl works at other miners.

maybe a situation with the pool

but the address given by the pools stratum+ssl

thank you for your works.
best regards.

[2022-01-25 12:27] i8088 commented on #23
Hello @bzminer it is not about version bug  .  I try last version now. Nothing fix  .    May be you should contact with simplemining  team .   Because of this issue I don't use your miner on my too many rigs.

![bz](https://user-images.githubusercontent.com/33055151/150976982-859064cc-5219-4583-801e-c3e42c656b4e.JPG)

[2022-01-25 15:26] flash0222 commented on #26
You are right, closing

[2022-01-25 15:26] #26 closed

[2022-01-25 17:28] coolhawk1 opened #30 "whatch dog"
![image](https://user-images.githubusercontent.com/98416582/151027363-fa081cba-9a8e-4239-9dd5-aefe0dcebd6c.png)
While mining in alph, the share amount is reset on average every 1 hour, there is no error warning in the gpu and miner. which directly affects my pplns wife disconnection. do you have any ideas about this?

[2022-01-25 18:36] wasarinta opened #31 "Duplicate Share"
![image](https://user-images.githubusercontent.com/81989126/151038046-5b9241bd-3358-4d2f-9882-3c12e19fa616.png)

[2022-01-26 02:41] paopao-tang commented on #23
Yes, I have the same problem. I can't see anything on the hive os dashboard, but mining is normal. Please solve it. Otherwise, you can't use your hoes.

[2022-01-26 04:35] paopao-tang commented on #23
@bzminer

[2022-01-26 12:25] blackmennewstyle opened #32 "Is it possible to use this miner with Ubuntu 20.04.3 with AMDGPUPRO instead of HiveOS?"
Hello,

Is it possible to use this miner on Ubuntu 20.04.3 instead of HiveOS?
I tried to execute the miner and i am facing this error:
[code]
What is the problem here?

[2022-01-26 12:50] mgrom commented on #29
I've got the same when mining Alephium

[2022-01-26 16:46] zulu1905 opened #33 "hashrate drop v7.2.2"
Hashrate dropped  ~ %3 with version 7.2.2

[2022-01-26 18:06] bzminer commented on #33
hey @zulu1905 , there was a bug in the alephium algo, and by fixing it, reduced nvidia hashrate a little. it should be made up for in accepted shares and reduced rejected shares

[2022-01-26 18:08] bzminer commented on #32
@blackmennewstyle you should use the cuda_tk version of bzminer in this situation, which includes those libraries internally. Otherwise you can install the cuda toolkit library which most mining os's have installed already.

There is however a bug, this should not prevent bzminer from running since some rigs only have AMD cards. its a bug i'm currently looking into

[2022-01-27 01:46] i8088 commented on #23
@bzminer @paopao-tang Developer is not sensitive about it. Go with T-rex miner

[2022-01-27 01:49] paopao-tang commented on #23
@i8088  T-rex miner Does it support alpha?

[2022-01-27 02:09] augustors1 commented on #31
Same problem here...impossible to keep mining

[2022-01-27 04:31] edisonchan opened #34 "How to list all rigs in same network?"
I have two rigs using bzminer in same network, but only one rig was list the rig(which ip in the address bar of browser) list in the index.html

[2022-01-27 07:51] #34 closed

[2022-01-27 07:51] edisonchan commented on #34
it works now

[2022-01-27 10:34] blackmennewstyle commented on #32
Thank you so much for your answer mate, it works great.
I'm seeing a little error though when at the end of the execution for the command-line `/home/ceedii/bzminer_v7.2.2_linux/bzminer --help`
[code]

I imagine `Segmentation fault` is not supposed to be there.

I have also a question regarding the **API password**, what is the name of the variable i am suppose to send to the HTTP API? Should it b

[2022-01-27 11:46] NicholasBertazzonAga opened #35 "Hung GPU detected with Alephium"
Hello, why does this happen? Trying mining with a EVGA RTX 3060, after some time (minutes to hours) it just stop mining saying "Hung GPU detected".
Happens with both 7.2.1 and 7.2.2.
Latest NVIDIA drivers.

Mining Alephium

[2022-01-27 16:26] altinsoft commented on #19
@bzminer problem solved ?

[2022-01-27 16:27] altinsoft opened #36 "Unknown stratum method"
Hi,

Error :
error | Unknown stratum method from ::ffff:x.x.x.x:38172: alph_submitHashrate

Please solve problem.

[2022-01-27 20:52] augustors1 commented on #31
I have solved it by changing the pool. I went to us pool and it works just fine.

[2022-01-27 21:51] altinsoft commented on #31
Same problem !

[2022-01-27 23:15] cloudis31 commented on #31
From my understanding woolypooly was testing out a feature that would reduce network activity by 16x, however there was a bug in bzminer supporting this and it produced duplicate shares between when a solution was found and the next work package. Bzminer v7.2.3 should fix that. Woolypooly helped me test the feature so everything should be good. Please update to v7.2.3 @altinsoft @augustors1 @wasar

[2022-01-27 23:17] cloudis31 commented on #36
@altinsoft you can ignore this message if your pool does not listen for hashrate from the miner. This is a common message in the stratum protocol and was not included in the reference alephium pool code for some reason.

[2022-01-27 23:18] cloudis31 commented on #35
Alephium is very core heavy and sensitive to oc. Please lower your oc. Turn off of first to make sure it's stable, then increase maybe 10 at a time. It's tough to get over 200, even over 150 for core

[2022-01-28 01:17] augustors1 commented on #31
It seems that the problem was solved. However, it´s odd that, at the server BR, the latency stays really high ~900 to 1500ms while the solutions are around 15 to 30ms.

[2022-01-28 08:23] altinsoft commented on #19
![resim](https://user-images.githubusercontent.com/31034706/151512279-1d2795bb-19fc-477f-8980-dd589543d386.png)

The problem persists on Hiveos. @bzminer

[2022-01-28 12:06] Maythecoffee commented on #33
hi, what is about solo on node , will this 7.2.2 helps to find blocks also? comparing 7.16 which is stable version now.

[2022-01-28 12:53] iban83 commented on #20
Same error with bzminer cuda version and 4.70 nvidida drivers...

[2022-01-28 14:13] Maythecoffee commented on #33
hi, what is about solo on node , will this 7.2.2 helps to find blocks also? comparing 7.16 which is stable version now.

[2022-01-28 16:23] mvocouto opened #37 "V7.3.2"
In HiveOS, even without using the --oc_lock_core_clock feature the bzminer restart Nvidia 30 series to standard memory clock after manually downclock all memories to 810MHz using nvidia-smi -lmc 810.

[2022-01-29 01:40] blackmennewstyle commented on #32
OK i finally found how to send the password in the URL in order to access the HTTP API. I'm closing this issue but i will open another for the API since they are some related issues.

[2022-01-29 01:40] #32 closed

[2022-01-29 01:54] blackmennewstyle opened #38 "HTTP API issues - BzMiner 7.2.3"
I found one little issue with the HTTP API. I am running the following command line `/home/ceedii/bzminer_v7.2.3_linux/bzminer -a alph -p stratum+tcp://pool.sg.woolypooly.com:3106 -w ********************************.calypso --http_enabled 1 --http_address 192.168.0.19 --http_port 4450 --http_password calypso --nc 1 --disable 10:0 --no_watchdog` on GNU/Linux Ubuntu 20.04.3 using **bzminer_v7.2.3_li

[2022-01-29 02:03] blackmennewstyle opened #39 "BzMiner 7.2.3 - --disable option does not work with AMD APU"
I'm running the following command line `/home/ceedii/bzminer_v7.2.3_linux/bzminer -a alph -p stratum+tcp://pool.sg.woolypooly.com:3106 -w ******************************************.calypso --http_enabled 1 --http_address 192.168.0.19 --http_port 4450 --http_password calypso --nc 1 --disable 10:0 --no_watchdog` on a GNU/Linux Ubuntu 20.04.3 using **bzminer_v7.2.3_linux_cuda_tk.tar.gz**, it's an all

[2022-01-29 03:05] bzminer commented on #39
You did the command correctly to disable the apu. It should work, so I will test that command with my apu and report back here

[2022-01-29 03:08] bzminer commented on #38
Ah that's a bug, non modifying apis should be the only endpoints that require a password. I've neglected the http api last few releases, so I will go back and test that and report back here. Will have a new release soon so let me know if any other bugs you find so I can get them in, thank you!

[2022-01-29 03:09] bzminer commented on #37
This is a bug, it's fixed in the v7.2.4b1 beta release. I will update this when the official release is out

[2022-01-29 03:09] #36 closed

[2022-01-29 03:12] bzminer commented on #33
@Maythecoffee that's a risk. You get slightly higher hashrate with pre 7.2.2 versions, but you have a risk of finding an invalid share. In my opinion it would be best to update for solo, because it would be disappointing to find an invalid block instead of a valid block. the risk is roughly .5 to 1%

[2022-01-29 07:43] Maythecoffee commented on #33
clear, thx

[2022-01-29 12:26] blackmennewstyle commented on #38
Sorry for the late reply, i did not find anything so far but will definitely report if i find anything.
Enjoy your weekend.

[2022-01-29 14:39] wasarinta opened #40 "Unstable Latency"
![image](https://user-images.githubusercontent.com/81989126/151665146-de930009-544c-426a-a14b-b3cef39b98f3.png)

[2022-01-29 15:04] reinocheong opened #41 "Hope the new version will add new function"
Please add the miner offline notification function via email or telegram

[2022-01-29 16:53] i8088 opened #42 "_Warn_ Connection to stratum+tcp://eth.2miners.com:2020 failed: . Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected"
_Warn_ Connection to stratum+tcp://eth.2miners.com:2020 failed: . Transport endpoint is already connected.

[2022-01-30 02:44] kaaus opened #43 "No mining devices detected!"
![cmd_roTxeXD9v0](https://user-images.githubusercontent.com/97175725/151684664-1ba538c9-c254-45da-b80e-fb3323bccfd1.png)

Why is this happening? I have a 1050 ti card, I have always mined RVN, FLUX and others without any problems. Is it a dag size issue? First time using this miner

[2022-01-30 14:34] dompazz opened #44 "Error on Ubuntu 20.04"
downloaded bzminer_v7.2.3_linux_cuda_tk.tar.gz.  Unpacked.  Running `--devices` gives:

`dpazzula@james:/mining/bzminer$ ./bzminer --devices

************************
**                    **
**   BzMiner v7.2.3   **
**                    **
************************

Invalid MIT-MAGIC-COOKIE-1 keyFailed to get X11 display. Memory, core, and fan oc's will not be available

 ------------------------

[2022-01-30 14:36] dompazz commented on #44
To be clear, there is a 1660 Super installed.  TRex and others run without issue.

[2022-01-30 14:42] bzminer commented on #44
Hey @dompazz please try the cuda tk version of bzminer

[2022-01-30 14:43] bzminer commented on #44
Oh for the x display, run command 'echo $DISPPAY', then put that output in "x_dispplay" in config file

[2022-01-30 14:44] bzminer commented on #44
I will try to do this automatically for next release

[2022-01-30 15:01] dompazz commented on #44
Thanks!

[2022-01-30 15:15] bzminer commented on #43
Hey @kaaus , bzminer isn't able to find nvml.dll, which should have been installed in system32 when installing Nvidia drivers, but sometimes apparently it isn't. Often times reinstalling the Nvidia drivers foxes this, otherwise a work around is to go to the Nvidia install directory and find nvml.dll, and copy it to the bzminer directory

[2022-01-30 15:17] bzminer commented on #41
That would be nice but if it's offline I'm not sure how the miner would be able to do that because it would need to be online to send those messages

[2022-01-30 15:17] bzminer commented on #40
Hey @wasarinta , it looks like this is a bug (visual only so has no impact on mining). Will fix this in next release

[2022-01-30 15:32] zulu1905 commented on #33
@bzminer

In addition, I would like to point out for those who complain about the disconnection problem, I think that the disconnection problems are not related to bzminer, there were disconnections in woolypolly(i was mining woolypooly), but currently there is no disconnection problem in herominers(now i am mining on herominers). Everything is visible in the picture.
![aaaaa](https://user-images.

[2022-01-30 18:16] UnCor3 opened #45 "Suggestions and issues"
Hello hope u r doing well i just wanted to let u know about some issues of bzminer and my suggestions ,first issue is that hang gpu detected this happens randomly on hiveos also happens on windows too but only if i try to connect with remote desktop(chrome's) or any kind of program that can make me able to control my pc remotely second issue the miner just stops and never shows mining info but onc

[2022-01-30 18:30] bzminer commented on #45
hey @UnCor3 i'll try to address these in a list

1. Hung GPU happens when OC is set too high. The alephium algorithm is very very sensitive to OC, especially in BzMiners implementation, so you should start by disabling OC, make sure it works for a while, then increment core by mayb +15 at a time. you can lock mem right away before doing this

2. This is actually not in BzMiner's control. Windows c

[2022-01-30 19:14] UnCor3 commented on #45
Ty for your respond now i have understood everything but forgot to mention one more thing about browser gui i would be awesome if we could restart the miner from browser gui is it possible for you to do such thing ?

[2022-01-30 20:33] bzminer commented on #45
Haha, that's on my list actually. Gui used to have ability to update and control everything in bzminer, but after I refactored the gui I didn't have a chance to get the functionality in yet, but it's at the top of my list

[2022-01-30 21:16] UnCor3 commented on #45
Thank you i will be waiting for it :D

[2022-01-30 22:27] kaaus commented on #43
Thanks for the answer, the problem is if I install an Nvidia CUDA, after a few hours my hashrate drops by half, my memclock and coreclock drops like nothing is using the GPU. I always have to reinstall an old driver to get it back to normal. is there any solution to do this with my optimized driver installed or install the necessary CUDA without having to replace my driver?

[2022-01-30 23:31] bzminer commented on #39
Turns out this was actually a bug. this should be fixed in next release

[2022-01-31 04:22] bzminer commented on #43
Just reinstall the driver should put nvmll.dll in a place where bzminer can find it, but if it doesn't or you don't want to reinstall the driver, you can search your computer for nvml.dll , which is usually in the Nvidia install folder , and copy it to bzminers folder. I have plans to expand the search in bzminer for that file, just haven't gotten around to it yet

[2022-01-31 04:57] kaaus commented on #43
I did that and now I have a new problem. I saw here in the Issues that it could be an error due to overclocking, I undid the entire oc configuration and left everything normal and even then the error remained

![cmd_IqDhZOKorN](https://user-images.githubusercontent.com/97175725/151740860-ae84f3fa-a230-4a75-8b34-20d961968fc5.png)

[2022-01-31 09:00] MFatihOzcelik opened #46 "Core Overclock not working"
As seen on image I manually wrote overclock in config.txt that I am using. Miner does clock memory and fan speed correctly. But even at start it says setting core clocks to values I set, it does not work.

![1](https://user-images.githubusercontent.com/98737578/151764986-27a13a34-0d52-43aa-a599-373761f241bc.png)
![2](https://user-images.githubusercontent.com/98737578/151765463-9ecf6d8f-9ae6-4479-8

[2022-01-31 13:10] bzminer commented on #46
there appears to be a bug in v7.2.3 related to core clock. it should be fixed in latest beta and will be for next release

[2022-01-31 13:44] bzminer commented on #43
@kaaus actually, that reminds me, there are two reasons why a gpu is detected as "hung". the first reason is oc like you mentioned, the second issue is that there's a cuda error, which is what you are experiencing. You are getting this cuda error because bzminer only supports drivers that support cuda 11.5 or greater, however for people who don't want to update their nvidia drivers, the cuda_tk ve

[2022-01-31 20:56] kaaus commented on #43
Now it worked! Thank you so much for your patience and support!

[2022-01-31 20:56] #43 closed

[2022-02-01 03:08] blackmennewstyle commented on #39
I saw your comment about the `--nc` option in the latest release `7.2.4` and i can confirm that not using that option with `7.2.3` actually disables the APU as expected and the issue is definitely fixed with `7.2.4` :)

[2022-02-01 03:08] #39 closed

[2022-02-01 03:09] blackmennewstyle commented on #38
Issue is definitely solved with `7.2.4` :)

[2022-02-01 03:09] #38 closed

[2022-02-01 03:18] blackmennewstyle opened #47 "HTTP API - status statistics - Calculation error between Total/Valid/Rejected shares"
Hello,

Sorry i missed that bug in my previous digging with the HTTP API. It's a minor one anyway, so you can fix it anytime.
You seem to have a calculation error between Total/Valid/Rejected shares. Can we all agree that the valid shares should be total shares minus rejected shares? If not, please feel free to explain why :)
As you can see through my web interface which displays some statistics p

[2022-02-01 03:24] bzminer commented on #47
Your right, invalid should be total minus rejected, I'll get that fixed, not sure why it's not calculating it that way, thanks!

[2022-02-01 10:14] omega180984 opened #48 "Autostart over launch_on_boot bzminer didnt apply oc settings"
Hello,

after a windows 10 restart with launch_on_boot=true set in the bzminer settings, bzminer starts but didnt apply oc settings for the gpu.

Testet on windows 10 with latest bzminer v7.2.4.

Thanks for your support

[2022-02-01 11:04] Maythecoffee opened #49 "cuda_tk vs standard version"
what is the difference between cudat_tk version and standard one? i ma asking because on new drivers LHR lock works too often if you mining ETH, so older 470.74 470.86 are preferable, so what is the difference between tk and standard ones and in hive and rave which version of your miner is installed?

I mean is there any difference in performance between 11.5 and 11.4?

[2022-02-01 21:54] yshn12 opened #50 "Windows 11 error"
BZMINER does not see my video card in Windows 11.
Doesn't BZMINER work on Windows 11?
Do I need to make any settings? Other miner programs are running.

![image](https://user-images.githubusercontent.com/92213917/152057537-211f3263-928d-45f9-98a2-719492728805.png)

[2022-02-02 02:43] i8088 opened #51 "Transport endpoint is already connected"
_Warn_ Connection to stratum+tcp://eth.2miners.com:2020 failed: . Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected. Transport endpoint is already connected

[2022-02-02 04:50] PSLLSP opened #52 "Doesn't work with Ubuntu 18.04"
bzminer_v7.2.4_linux.tar.gz
Linux Mint 19.3 (Ubuntu 18.04)

bzminer requires Nvidia driver that is too "high". Is it really necessary?

[code]
[code]
[code]
[code]

I do not use `bzminer`, this is my first touch. I tried it first on HiveOS but the latest bzminer was at version 7.2.3 and it was not mining at all, it looping with **core dump** error; maybe my CPU (AMD AM3, some x4) was too old for b

[2022-02-02 15:17] lzy2009 opened #53 "Unable to mine ETH"
I can't mine ETH, from the 7.2.2 version to the current 7.2.4 version is not OK, please ask me where the setting is wrong
![微信图片_20220202231529](https://user-images.githubusercontent.com/96769059/152182123-2845c67c-1ac8-498d-8199-d3e914758d72.png)
![微信图片_20220202231743](https://user-images.githubusercontent.com/96769059/152182339-2726e6d4-8a1b-4874-ba97-f965df0978fb.png)
?

[2022-02-03 05:00] zerox-20 commented on #53
There is not support in BZminer yet, you are using a 3080ti which has LHR.

[2022-02-03 18:24] jonmarins opened #54 "Lots of gpu hung and few shares in 7.2.5"
Lots of gpu hung and few shares in 7.2.5

[2022-02-04 06:08] koltenfluckiger commented on #54
Same here..

[2022-02-04 09:41] gigabyteminer opened #55 "Fast help! Dual mining socket error eth + alph"
Saving settings file to config.txt
 <Warn> Connection to eu.ezil.me:5555 failed: . A connect request was made on an already connected socket. A connect request was made on an already connected socket
 Connected to fi.alephium.herominers.com:1199 using stratum as rig
 Reconnecting to eu.ezil.me:5555 in 3 seconds...
 <Warn> Trying next failsafe pool
 Work thread closing
 Connecting to eu.ezil.me:555

[2022-02-06 12:40] altinsoft opened #56 "mining.authorize json error"
Hi

mining.authorize =>> {"id":3,"method":"mining.authorize","params":["1Bug41RJ1FWQUumtRpAHma8E8C9RB2UdenZQNNAEgDg59.RIG1.RIG1"]}

Example : 1Bug32RJ1FWQUumtRpAHma8E8C9RB2UdenZQNNAXgDg59.RIG1.RIG1

wallet_name.Rig_name.Rig_name (this wrong !)

The json data Bzminer sends to the pool is wrong!

Rig name is sent 2 times.

https://wiki.alephium.org/Alephium-Stratum.html

Here is the original templat

[2022-02-06 15:55] bzminer commented on #49
hey @Maythecoffee the cuda_tk version is for exactly the reason you mentioned, for rigs that you don't want to upgrade the nvidia driver. minimum version cuda_tk supports is 460.27.03 (cuda 11.2)

hive and rave use the non cuda_tk from my understanding.

Also there is no difference in performance, other than any optimizations the different driver versions may have

[2022-02-06 15:56] bzminer commented on #48
hey @omega180984 , thats interesting, i think you may have found an issue i didn't think about. bzminer probably needs admin rights to set oc, and when it starts up on windows, my guess is its not running as admin. i'll look into this

[2022-02-06 15:57] bzminer commented on #50
@yshn12 this is because nvidia's nvml.dll was not found. Usually this happens from a bad driver install, so reinstalling the nvidia drivers will usually fix it. otherwise you can search your nvidia install directory for a file called `nvml.dll` and copy it to the bzminer folder and it should work

[2022-02-06 15:58] bzminer commented on #51
not sure what the problem here is, i'll look into this though and let you know if i find anything

[2022-02-06 16:02] bzminer commented on #52
hi @PSLLSP thank you for all these details

there was a bug in 7.2.3 which was unlocking nvidia clocks when bzminer started by default, that was fixed in the next version. this causes a crash on some systems like hiveos

As far as the drivers go, the cuda_tk version of bzminer is available for rigs that you do not want to update to the latest nvidia drivers

bzminer requires cuda 11.5 or higher (d

[2022-02-06 16:06] bzminer commented on #54
@jonmarins and @koltenfluckiger the alph algo is really sensitive to oc, so please turn down your oc, or turn it off and make sure it runs. oc's that seem stable for a couple hours can still cause hung gpu's eventually, so its a good idea to lower oc a little after you find an oc you think is good

[2022-02-06 16:07] bzminer commented on #55
@gigabyteminer bzminer has an issue with generating the dag when high oc is set. for this reason, bzminer will reset the oc before the dag is generated, and then set it back after dag is generated if you either set oc through bzminer directly, or use the `reset_oc_dag_gen` option

[2022-02-06 16:08] bzminer commented on #56
@altinsoft someone else had mentioned this and i had tried to reproduce but wasn't able to. i'll look into that again and see why its doing this, hopefully get it fixed for next release

[2022-02-06 16:14] gigabyteminer commented on #55
What is problem?: Connection to eu.ezil.me:5555 failed: . A connect request was made on an already connected socket. A connect request was made on an already connected socket

[2022-02-06 20:55] gigabyteminer commented on #55
I got it working but hashrate is very bad. On eth max 10 to 19  mhash and alph 600 mhash. I mine in trex and got eth 42 mhash and alph 420 mhash.

[2022-02-07 10:11] PSLLSP commented on #52
I already upgraded bzminer to version v7.2.5 at HiveOS and it worked with GTX1070. But I cannot get it running with older cards, like GTX1060 or GTX750Ti (on my PC). This is PC with GTX1060, bzminer is from bzminer_v7.2.5_linux_cuda_tk.tar.gz:
[code]
My GPU is working good, it works with miniZ, WildRig-multi, T-Rex and others. It is invisible for `bzminer`... The same applies to GTX-750Ti.

BTW, i

[2022-02-07 13:40] bzminer commented on #55
@gigabyteminer i assume you are using the same oc as you did in trex miner? trex miner is able to do about 68% eth, 32% alph, but bzminer doesn't have that high of an option for eth, for bzminer you'd be looking at closer to 25-30% eth and 70-75% alph. Its also pretty experimental at this time so you may have to play with the timings in the config to prevent lhr from kicking in after a while. by d

[2022-02-09 17:58] omega180984 commented on #48
Thank you very much!

Normal you need admin rights to set the right oc in windows. I try another thing and put the bzminer into a scheduletask but it seams that than bzminer is very very very slow. I am not sure if this is something that only happend with my setup or is an general issue if you put bzminer to schedule task with adminrights. Other Apps and miners wokring great over scheduletasks.

M

[2022-02-09 18:30] bzminer commented on #48
I'm actually working on this exact feature right now, will be available in a beta later today. after some testing i'll push a new release. I didn't realize the way i was doing it currently was not launching as administrator, so now its going to use the task scheduler service instead of registry as you suggested! thanks @omega180984 !

[2022-02-20 20:17] payazo915 commented on #42
I fixed this my entering the miners setup and changing the URL to ethstratum+tcp://us-eth.2miners.com:2020

[2022-02-20 20:21] payazo915 commented on #51
I fixed this my entering the miners setup and changing the URL to ethstratum+tcp://us-eth.2miners.com:2020

[2022-02-22 12:51] bzminer commented on #51
@i8088, @payazo915 is right, there's a bug in the latest version with the auto protocol selection. for 2miners, the protocol you should use is ethstratum, not stratum. bzminer SHOULD find the correct stratum automatically but its a bug, which will be fixed in the next version

[2022-02-23 19:30] ganzocrypt opened #57 "macos version"
Any change to get a macos version of the miner ?
thx

[2022-02-24 14:37] bzminer commented on #57
hey @ganzocrypt , there aren't any plans right now to build for macos, but we can leave this open in case that changes. i would like to get it running someday on macos, because your not the first person to ask, but as of right now there's no plans for macos support

[2022-02-24 14:38] bzminer commented on #56
I've found the issue finally, so it'll be fixed in next release

[2022-02-24 14:40] ganzocrypt commented on #57
ok thx for the answer! It would be cool since the M1 are pretty powerful but also hackintosh machine have GPUs.

[2022-02-24 18:19] #56 closed

[2022-02-25 13:02] BitMaci opened #58 "ETC+ALPH hashrate not tuned/stable"
Using this dual mining mode, ALPH hashrate is high, while ETC one is about 66% less than usual.

Example GTX 1650 dual mining ETC+ALPH (lolMiner): ETC 14.5 MH - ALPH 270 MH
Example GTX 1650 dual mining ETC+ALPH (BZMiner): ETC 5 MH - ALPH 280 MH

Thank you

[2022-02-25 14:53] bzminer commented on #58
hey @BitMaci , the next release of bzminer will have some updates to dual mining

By default,  the latest version of bzminer does "alternate" mining, which means that while one algo is mining, the other algo is paused. It flips between each algo, which allows you to set overclocks per algo. By default, the timings are 5 seconds mining for the first algo, and 15 seconds for the second algo. You can

[2022-02-25 15:51] BitMaci commented on #58
Hello, many thanks for the alternate mining explanation and for the next releases with dual mining updates, I'll be waiting for that because I have a FHR card!

[2022-03-04 07:55] tymoteuszrogalewski opened #59 "v8 (non tk) still requires libnvrtc.so.11.2"
Something is mixed.

v8 (non tk version) should work with 11.5 and requires this version in theory but in real it looks like this:

running show this:
root@simplemining:/bzminer-v8.0.0-cuda11.2# ./bzminer -a ethash -w $walletETH.$rigName -p stratum+tcp://us1.ethermine.org:4444 stratum+tcp://us2.ethermine.org:4444
./bzminer: error while loading shared libraries: libnvrtc.so.11.2: cannot open shared

[2022-03-04 19:56] alexstab opened #60 "no 8.0 version for win 11.4 cuda?"
Hi!
is there a version 8 for windows 10 cuda11.4?

thanks
alex

[2022-03-05 06:06] PriyanshuNaredi commented on #59
How To Fix It , I Am New To Linux

[2022-03-05 16:24] BitMaci opened #61 "multi_mine_type not working on my FHR"
multi_mine_type 0 (parallel) is not accepted by the .bat file, if opened the miner doesn't start mining and close by itself. I also tried multi_mine_type 0 in config.ini but simply it doesn't work since the command dosn't remain saved in the config.ini file, like if it wasn't recognized. Please provide examples on how use multi_mine_type 0 (parallel) option and where write it. Thanks.

[2022-03-06 15:19] bzminer commented on #59
hey guys, sorry about that, i ran into driver issues right before releasing, and it seems that it broke the dependencies in the latest version of bzminer. i will attempt to get this sorted out in the next release

[2022-03-06 15:21] bzminer commented on #60
hey @alexstab , i removed the cuda_tk version and now the regular bzminer version is actually the cuda_tk version. Are you having issues with the regular version? i was attempting to remove both the linux and windows cuda_tk versions, however i wasnt' able to remove the linux one, but from testing the windows version should work. if it doesn't i may need to add the two versions back for windows

[2022-03-06 18:20] alexstab commented on #60
All my shares result rejected.. win10 driver 472.12...mining only eth.

[2022-03-06 20:24] bzminer commented on #60
Ok thats interesting, i'm mining eth on both linux and windows with the latest version of bzminer and not having that issue.

What pool are you mining to? could you try a different pool? I don't think driver version would cause this to happen. Its possible that the cuda version may change the way the kernel is built on the gpu, which could cause it to become more sensitive to oc. if you have any o

[2022-03-06 22:48] alexstab commented on #60
I tried crazypool and zetpool.. dag was ok.. i'll try to turn off oc to see if work.. but 2 cards in my rig arent oc and shares are rejected too..

[2022-03-08 08:51] tymoteuszrogalewski commented on #59
For me works ok as I described above: installed NV driver 495.46 that is CUDA 11.5 compatible (on older NV driver the miner do not mining at all), and cuda libraries (as above listed) CUDA 11.2 packages (as binary bzminer requires this with ldd) ;-)
Closing issue for now. Thanks for reply.

[2022-03-08 08:51] #59 closed

[2022-03-08 12:53] bzminer commented on #59
thanks @tymoteuszrogalewski for getting back with what worked , i'll try to get the dependency issues figured out for this next release

[2022-03-08 12:54] bzminer commented on #61
@BitMaci i'll try this out, maybe i've got a bug in the parsing of that command. I'll post back here after i get a chance to test it out

[2022-03-09 10:19] tymoteuszrogalewski commented on #59
I wanted to just note something.
ldd talks about 11.2 version of libnvrtc.so.11.2 requirements even that you talk that 8.0.0 is compiled with cuda 11.5

This may be answer for that "strange/mix" issue:

[code]

as you can see - the required lib named libnvrtc.so.11.2 is a link to phisical library file named libnvrtc.so.11.5.50
...thats mean that CUDA developers do some mix in file names heh...
pro

[2022-03-09 16:39] bzminer commented on #61
it doesn't necessarily solve this particular issue, but i'll be making multi_mine_type 0 by default. apparently people have been able to get up to 60% eth / 60% alph/kaspa using multi_mine_type 0, which is way better than what you'd be able to get with multi_mine_type 1 right now

[2022-03-09 17:30] bzminer commented on #59
thanks @tymoteuszrogalewski , i'm trying to investigate this right now, i wonder if my issue is because i've installed cuda 11.2 over my 11.5 installation, where previously i had done it the other way around. 11.5 is only required because its the first cuda version that contains static runtime compilation libraries for cuda. ideally i would only require 11.2, so going to look at this again and see

[2022-03-10 00:04] BitMaci commented on #61
Nice, thanks, so I suppose you'll implement it in the next release. It would be nice to dual mine in parallel and not in alternate mode.

[2022-03-12 11:01] tymoteuszrogalewski opened #62 "8.0.1 Connecting with ethstratum failed"
8.0.0 works ok, and 8.0.1 failed.

second problem is that:
./bzminer --help gives help output and on the end...segfault.

[2022-03-12 12:55] bzminer commented on #62
hi @tymoteuszrogalewski , whats your config? which pool and coin? nvidia or amd? windows/linux?

[2022-03-12 13:12] bzminer commented on #61
@BitMaci i realized i never added this option to the command line, which is why it wasn't working. i've now added it to the command line, as well as made parallel mining default in v8.0.1. Please feel free to close this issue if that works for you!

[2022-03-13 11:11] BitMaci commented on #61
@bzminer Thanks for answering and for the new release but parallel mining doesn't work, at least on my FHR card. Hashrate is unstable for both algos, keeps on going up and down. 1st algo -25% and 2nd algo -50/75%.

[2022-03-13 13:30] bzminer commented on #61
@BitMaci it sounds like you've got the alternate mining set up (multi_mine_type = 1). probably your config was saved before the last update, because now the default is alternate mining

for parallel mining, it does 5 seconds eth, 15 seconds other algo. the hashrate averaging is done by default over 30 seconds, so since thats not a multiple of 20 seconds, you'll see hashrate jumping. you should cha

[2022-03-13 16:02] BitMaci commented on #61
@bzminer Well, it's impossible because I saved BzMiner in another folder, so it wasn't using config.ini of the previous version and should be have started in parallel mode, as per default configuration, but it doesn't. Also I'm interested in ETC/KAWP (NOT ETH)+ALPH, not possible with this version. ETC shares results invalid (in previous version ETC did as working) and KAWPOW doesn't start, Bz Mine

[2022-03-13 16:02] #61 closed

[2022-03-13 16:04] BitMaci commented on #58
Not solved in next release.

[2022-03-13 16:04] #58 closed

[2022-03-13 17:06] tymoteuszrogalewski commented on #62
sorry about missing "description". 8.0.2 works ok.

[2022-03-13 17:06] #62 closed

[2022-03-14 12:25] bzminer commented on #33
This should be fixed in v7.2.5 and higher, feel free to reopen if you believe this is not the case

[2022-03-14 12:25] #33 closed

[2022-03-14 12:27] bzminer commented on #53
I'm sorry i missed this. the auto protocol detection code was broken and should be fixed in the latest bzminer version (v8.0.2). Please reopen this issue if this is not the case

[2022-03-14 12:27] #53 closed

[2022-03-14 12:27] bzminer commented on #51
This had to do with how 2miners was responding to the wrong protocol. 2miners uses ethstratum. This is fixed in the latest version, v8.0.2

[2022-03-14 12:27] #51 closed

[2022-03-14 12:28] #49 closed

[2022-03-14 12:29] bzminer commented on #28
@zulu1905 are you still having this issue?

[2022-03-17 10:51] alexstab commented on #60
okay.. its a pool problem.. how can i connect miner to stratum+tcp://eth.zetpool.org:8005 or
stratum+ssl://eth.zetpool.org:8805 ? it works only on nicehash port.. stratum+tcp://eth.zetpool.org:9005 but shares are rejected..

[2022-03-17 13:55] bzminer commented on #60
hey @alexstab could you try the latest beta and let me know if it fixes your issue? (I think we talked on discord but i'm not entirely sure if your the same person)

https://www.bzminer.com/downloads/bzminer_v8.1.1b1_windows.zip
https://www.bzminer.com/downloads/bzminer_v8.1.1b1_linux.tar.gz
https://www.bzminer.com/downloads/bzminer_v8.1.1b1_linux_cuda_tk.tar.gz

[2022-03-17 14:05] alexstab commented on #60
yes i am! now it's great! thank you!

[2022-03-23 08:48] tymoteuszrogalewski opened #63 "--help and segfault (Ubuntu18)"
./bzminer --help gives properly help instruction output and then..segfault
each time the same. reboot dont help. tested with same behaviour on few machines.
dmesg:
[71343.456112] bzminer[31553]: segfault at 140 ip 000000000048d5ed sp 00007ffeaebde0a0 error 4 in bzminer[400000+107b000]
[71343.456119] Code: 48 8b 8c 24 58 01 00 00 4c 39 c0 0f 86 ec 0f 00 00 48 29 c8 31 d2 48 8d 7c 24 50 31 f6 49 89

[2022-03-23 08:49] tymoteuszrogalewski commented on #63
I forgot add...this is on non tk version. And didnt test on other packages. Just I use that one.

[2022-03-29 22:06] MaxxRK opened #64 "Opens and immediately closes windows 11"
BZMiner 8.1.1 opens and then immediately closes. At first I tried an old config, and then I tried using the .bat file for dual mining with my addresses put in. It wont even remake the config.txt file or give me any errors.

[2022-03-30 21:48] bzminer commented on #64
hey @MaxxRK , sorry i forgot to reply, you should use v8.1.0 for now until i roll out a new version to fix that issue

[2022-03-31 08:00] telethrasher opened #65 "won't mine kaspa in hive with suggested nvidia driver"
loaded nvidia driver 495.29.05 because 460.27.03 came up not available
tried running 5x nvidia 3060tiLHR with 1x 6700xt and got no mining just empty data fields and 35 watt power draws
tried running the nvidia's by themselves same thing
tried running the amd by itself same thing
screen shots of flight sheet and ocs
any suggestions ?
node is and was running
ipconfig on node computer give address us

[2022-04-03 01:19] bzminer commented on #65
hey @telethrasher , sorry for the delayed response, i forgot to reply earlier. 8.1.1 has a bug where it needs both amd and nvidia drivers. there's not much difference between 8.1.1 and 8.1.0 so try 8.1.0 and see if that works. I"ll be releasing in the next couple days a version which should fix your issue (8.1.2)

[2022-04-03 17:32] leevcc opened #66 "Mining kaspa on hiveos ,N card is normally and A card cannot be started,its rx 6600."
Mining kaspa on hiveos ,N card is normally and A card cannot be started,its rx 6600.[BzMiner v8.1.1]

[2022-04-05 00:00] bzminer commented on #66
hey @leevcc , just release v8.1.2 today, could you give that a try?

[2022-04-27 12:00] tymoteuszrogalewski opened #67 "9.0.0 API tells that dualmining is...even if only one algo is used."
Linux version.

DATA=`timeout 5 curl -s http://127.0.0.1:4014/status`
echo ${DATA} | jq -r 'try .pools[1].id // null'
...this gaves me null with all prev bzminer versions
But starting with 9.0.0 I got this and because of that our API client thinks that really dual mining is in progress :)
my command line options is:
-a ethash -w 0xXXXXXX.XXX -p stratum+tcp://eu1.ethermine.org:4444

[code]

[2022-04-27 15:10] bzminer commented on #67
@tymoteuszrogalewski i just looked and the api didn't change. i know what the problem is though. bzminer can have multiple pool configs which allow for quickly switching between pools/coins per device, so there may be multiple pool_config elements in the status response. the actual pools being mined to are in the "devices" param, where each device has a property called "pool" which is the pool its

[2022-04-28 05:32] tymoteuszrogalewski commented on #67
I dont use "config file". Just command line options.
Maybe some changed in "generating config" module changed in your code and "starts" generate second pool even if Im not using it:

[code]

..this tell that kawpow is a second pool with zeroes wallet, etc.....but I just only mine ethash (in this example)

[2022-04-28 06:12] tymoteuszrogalewski commented on #67
I found the reason.
For mistake I include in 9.0.0 your default config.txt and thats why JSON gets me "second" data.
Command line options only affect to first algo in config.txt, and second default was not changed :P

Sorry and I close the subject :)
Have a nice day.

[2022-04-28 06:12] #67 closed

[2022-04-28 14:44] bzminer commented on #67
Great @tymoteuszrogalewski ! Thanks for getting back!

[2022-04-30 15:08] Jorgelote opened #68 "cannot mine ixian"
I have been trying to mine ixian but there is always an error of connection with every pool,
Please let me know how to solve it,
Thanks

[2022-04-30 16:15] bzminer commented on #68
Hey @Jorgelote , I'm assuming your on hive? I think hive automatically adds stratum in front of the url. Your urls to the pools should look like http://poolurl:port

[2022-04-30 17:18] Jorgelote commented on #68
i am on windows, and i could make it work, thanks for the quick answer anyway

[2022-04-30 17:18] #68 closed

[2022-05-02 02:34] phanity2 opened #69 "Proxy or socks 5"
Does bzminer support any of these ??

[2022-05-02 02:57] Chadwicksracing opened #70 "IXI on Polaris GPU - cl::Error'"
In HiveOS, with 9.0.0
rx 480 4GB x 8 cards

Error:
 HTTP API Listening on 127.0.0.1:4014
 Connecting to http+tcp://mineixi.com:80 as GPURIG-ETC-01 with wallet:
 addressblaned
terminate called after throwing an instance of 'cl::Error'
  what():  clEnqueueWriteBuffer
Aborted (core dumped)

bzminer exited (exitcode=0), waiting to cooldown a bit

Works in Windows on my Rx480 4gb..

[2022-05-16 17:39] dracosc22679 opened #71 "Cannot Connect to Ezil pool"
Cannot connect to ezil pool (eu.ezil.me:5555)

[2022-05-16 17:44] bzminer commented on #71
Hi @dracosc22679 , could you provide the stratum you are using? Bzminer has 4 protocols that could be used, stratum+tcp, ethstratum2+tcp, ethproxy+tcp, and ethstratum2+tcp. Auto detection of the protocol usually works but sometimes it doesn't for some pools. Also eth+zil isn't really tested in bzminer so I can't promise that will work or be efficient, it's in my list to check out for next release

[2022-05-16 17:54] dracosc22679 commented on #71
First of all thanks for the quick reply. I think i have tried all stratums you mentioned and none work.
BTW we used to talk everyday on discord in private about a year ago but my discord got hacked. We were talking before even your first bzminer release and i was one of your main testers if you remember me. Costas Dracos (DragonDroid)

[2022-05-16 19:03] bzminer commented on #71
Oh dragondroid, of course I remember you! If you still have discord please add me again! I remember your account got hacked, I'm sorry to hear that it never got resolved.

As far as ezil, I believe you are not the only person with this issue on this pool with bzminer, at the top of my list I have to look into this, but I have not gotten to it yet, I will reply here when I get a chance to look into

[2022-05-16 19:06] dracosc22679 commented on #71
No Discord yet. Do you have Telegram?

[2022-05-16 19:07] bzminer commented on #71
I do, search bzminer on telegram

[2022-06-07 13:31] ReverseControl opened #72 "FACT0RN Blockchain support."
Hello, I have been asked several times when support for the FACT0RN blockchain will be added to bzminer. ([whitepaper](https://fact0rn.io/), [coinbase article](https://blog.coinbase.com/fact0rn-blockchain-integer-factorization-as-proof-of-work-pow-bc48c6f2100b)). I created the blockchain, but adding support for miners is not under my perview, but on behalf of the Fact0rn community I would like to

[2022-06-07 14:11] bzminer commented on #72
hi @ReverseControl ! I'd be happy to talk to you more about it, would you mind coming to the discord server to chat? https://discord.gg/PwdpmsyH

[2022-06-07 14:20] ReverseControl commented on #72
Sure. Already joined. Look for EscanorLiones#0928.  @bzminer

[2022-06-20 19:15] RainbowMiner opened #73 "[Q] Is bus_id:device_id in hexadecimal or decimal?"
When using the parameter `--disable bus_id:device_id` - are the values in decimal or hexadecimal?
E.g. for device on bus_id 11, is it `--disable 11:0` or rather `--disable b:0` ?

[2022-06-20 22:22] supertypo opened #74 "Feature request: Efficiency in rest api (/status)"
Please expose device efficiency in rest api.

[2022-06-21 02:11] bzminer commented on #73
Hi @RainbowMiner , it's decimal, so 11:0, although index should work too. Bzminer started with pci only first due to index enumeration from multiple platforms not being consistent and able to change at any time, however I've been allowing more options to work with induces since they can be sorted consistently by pci. I may eventually just use index only

But to answer your question device Id is in

[2022-06-21 02:11] bzminer commented on #74
Will do for next release!

[2022-06-21 09:10] RainbowMiner commented on #73
Ah, super. Thank you!
So regarding that index enumeration: is this the native pci bus id ordering, starting with 0?

[2022-06-21 09:20] RainbowMiner commented on #73
I have another question, regarding mixed AMD+NVIDIA rigs.
- is it possible to have multiple instances of bzminer running?
- what is the best practice to address the GPUs? Like that:
  For Nvidia add `--nvidia 1 --disable x1:y1 x2:y2`
  For AMD add `--amd 1 --disable x3:y3 x4:y4`
  The disable parameter gets only Nvidia / AMD devices respectively (or do I need to explicitly disable the other vendor

[2022-06-21 11:14] bzminer commented on #73
1. You can run multiple instances
2. If you disable a vendor, you don't need to use disable if you want all devices from the other vendor. Otherwise, you will use disable to only disable the remaining vendors cards, you don't have to add disable for any of the other vendors cards, does that make sense?

[2022-06-21 12:50] bzminer commented on #73
i missed your first reply. yeah the indices start at 0 and are just "ordered" by pci bus. so if you have 5 cards on a rig, the last card will be index 4

[2022-06-21 13:12] RainbowMiner commented on #73
Totally! Thank you very much for your answers.

[2022-06-21 13:57] RainbowMiner commented on #73
One (hopefully) final question:
- if I am using the pci indices to disable GPUs and if I am always using `--nvidia 1` or `--amd 1`, do these indices count from 0...x for all Nvidia GPUs and 0...y for all AMD GPUs? Or is it the global index, e.g. 0...(x+y)
- also, how do you handle the on-board GPUs? Do they get index 0 and all other GPUs start from 1? Or do you simply ignore all other GPUs, except

[2022-06-21 14:04] bzminer commented on #73
good questions. they are global indices, so the indices are always unique

on board (integrated i'm assuming) gpu's act the same way as normal gpu's, so they will just be indexed the same as nvidia or amd gpus. for example, one configuration may look like this:

index - bus - gpu type
0 -  1:0 - amd (i-gpu, onboard)
1 - 12:0 - nvidia
2 - 13:0 - amd
3 - 15:0 - amd
4 - 16:0 - nvidia

[2022-06-21 14:24] RainbowMiner commented on #73
Ok, understood. So all available GPUs will be indexed. Thank you! I think, now I know enough to add your miner. I'll notify as soon as it's part of the RainbowMiner package.

[2022-06-21 14:34] RainbowMiner opened #75 "[BUG] ProHashing.eu pool fails with low difficutly"
If running Ethash on Prohashing.eu I get the following error(s) and 0 hashrate.
[code]

[2022-06-21 14:36] RainbowMiner commented on #75
Is there a list of allowed/disallowed pools? What about Nicehash? Do you support their Stratum 1.0.0 + Nonce?

[2022-06-21 15:19] bzminer commented on #73
Great! I'll take a look at prohashing, haven't used it before

[2022-06-21 15:22] bzminer commented on #75
They should all work. Bzminer supports 4 ethash protocols, stratum, ethstratum2, ethstratum2 and ethproxy. If the wrong protocol is specified it should auto detect the correct protocol but a lot of pools handle things a bit differently, like 2miners fir example will still return an empty package if the wrong protocol is used. Another pool continues to send work when the wrong protocol is specified

[2022-07-22 07:07] risefrog opened #76 "dual mining tips "Stopped: Not Enough Memory""
Not enough available memory (2.56gb/6.00gb) on GPU: 4:0. Requires 4.95gb
how can I config dual mining with eth & kaspa setting?
Pls help me!
THKS!!!

[2022-07-22 11:19] bzminer commented on #76
Hi @risefrog , it looks like you just don't have enough memory available on that card for eth. You must be running another miner or something, can you make sure all other miners are shut down and try again?

[2022-08-02 20:27] Lazzeruz opened #77 "Change cd /d %~dpo to cd /d %~dp0"
Please change the cd /d %~dpo to cd /d %~dp0 in the batch files.
They don't work if it's an o. It needs a zero.

[2022-08-04 18:00] ALICLAYSMEN opened #78 "PLEASE ADD SOCKS5 FEATURE"
PLEASE ADD SOCKS5 PROXY FEATURE ON NEXT RELEASE. THANKS

[2022-08-05 13:30] bzminer commented on #78
hi @ALICLAYSMEN ! I will look into that and try to get it into next release, its been on my list for a while now~

[2022-08-15 19:23] gorgarp opened #79 "Request: Addition of Equihash 125,4 Algorithm"
Hello! I'd like to request Equihash 125,4 be added. Our project, Flux (Runonflux.io), is a GPU minable coin and is one of the fastest growing projects in the space. Additionally, we are considered one of the main 4 likely replacements for ETH hashrate, post merge.

Please reach out to us on dicord.io/runonflux, if you would like to discuss this. We know that your group can make a large impact and

[2022-08-15 20:13] bzminer commented on #79
hey @gorgarp ! i'll add that to my list! i haven't decided which algo i'll add next, but i'll be taking equihash into consideration. i've had multiple requests for it now

[2022-08-20 19:50] soulistyces opened #80 "Rx580 8gb linux ixi error cl:error"
Tested on linux 20.04
Amd drivers 21.30
Gives error cl::error
Lowering intensity to 60 hangs cpu
Lowering intensity to 10 works but only gives 65h/s

[2022-09-08 09:48] RainbowMiner opened #82 "[Q] Why use different -a for same algo (KawPoW)?"
Hi,

question:

Why did you add `-a neox` / `-a rvn` for basically the same algorithm? Wouldn't `-a kawpow` be enough?
I can only imagine, that you have some DAG size checks / calculations, that you wish to handle.

Thanks in advance for answering my question!

[2022-09-08 15:26] bzminer commented on #82
Thats a great question @RainbowMiner !

In BzMiner, i like to analyze workloads for each coin specifically, and sometimes i'm able to make small optimizations on certain types of workloads expected to come from a particular coins network. Kawpow in BzMiner was originally made for rvn's network and it had some issues with a certain thing i did for rvn when trying neoxa with it, so i've separated th

[2022-09-08 15:43] RainbowMiner commented on #82
Thank you! That clarifies things a lot. I'll adapt my miner module accordingly.

[2022-09-08 23:06] pavlyhaK opened #83 "How to start dual mining on RaveOs"
How to start dual mining on RaveOs. What needs to be written in the settings.

[2022-09-09 22:06] DJLazerjet opened #84 "API is not working on Awesome Miner with NVIDIA GPU's"
Hello. API is not working when i mine KAS on NViDia GPU.
On miner windows i see hashrate and shares, but that number were not translated into Awesome Miner.
But when i'm using the AMD Polaris GPU with NViDia GPU, or only AMD GPU - the retranslation of hashrates and shares is working correctly.

BZMiner 10.0.4
GPU's:
NVIDIA GTX 1070 8GB
AMD RX 580 8GB

[2022-09-10 09:29] RainbowMiner opened #85 "Reset overclocks on exit is applied to all GPUs and not only to the selected ones."
Hi,

this is actually a nice feature, but it resets the OC for all GPUs in the rig. If I have selected a subset, this is pretty nasty. I would expect it to reset only the selected GPUs. Could you please check this? This problem has caused some major uptick in power consumption on my rigs.

[2022-09-10 17:18] bzminer commented on #85
Hey @RainbowMiner that's interesting, I didn't consider the idea of only resetting specific cards. Right now if enabled it resets all cards. I've added this to my list for next release to only unlock cards that are specified! Thank you!

[2022-09-10 18:05] RainbowMiner opened #86 "Cannot get Bzminer work on MiningRigRentals (KawPow)"
Hi,

is this miner not compatible with the proxy solution of MiningRigRentals?
I have tried to get it running on my test rig (6 x Nvidia GTX1070)
This is the commandline:
```bzminer.exe -a kawpow --nvidia 1 -p stratum+tcp://eu-01.miningrigrentals.com:3333 -w mymrruser.1234567 --pool_password x -r rbm -c config_33300.txt --no_watchdog --blockchain_fee 0 --cpu_validate 0 --nc 1 -o bzminer_33300.log

[2022-09-11 02:47] gorgarp commented on #79
Hello, It looks like the latest added Ergo and Kaspa. Any thoughts as to 125,4 timeline?

[2022-09-13 15:27] bzminer commented on #86
hey @RainbowMiner , so auto protocol detection may not be working here, it appears to be connecting using the protocol specified (stratum) but its not the correct protocol for that pool it seems. could you try either ethstratum, ethstratum2, or ethproxy?

[2022-09-13 15:27] bzminer commented on #86
i will take a look at this and see if i can fix the auto protocol detection

[2022-09-13 19:48] RainbowMiner commented on #86
Tomorrow I will try the other protocols. A fix would be great though.

[2022-09-14 14:44] creativenew opened #87 "Low hashrate p106-090"
<img width="524" alt="Screenshot_158" src="https://user-images.githubusercontent.com/22425959/190186703-46bc50a7-83bc-4ba1-81da-19e8502462af.png">

[2022-09-14 16:14] prodchia opened #88 "Bzminer not working with Kaspa"
It keeps crashing for kaspa.

bzminer  --oc_power_limit 65 --oc_core_clock_offset 200 --oc_memory_clock_offset 810 -a kaspa -w kaspa:000000 -p stratum+tcp://ca.acc-pool.pw:16061 --nc 1

Output:

*************************
**                     **
**   BzMiner v11.0.3   **
**                     **
*************************

 Working Directory: Z:\Software\PoW Miners\bzminer_v11.0.3_windows
 Loggin

[2022-09-15 02:32] Kostas-13 opened #89 "Suggestion: Mentioning updates @github"
Wouldn't be better for every version update of BZminer to mention what changed?
Took me a while to find that at the official web page xD

[2022-09-15 03:09] bzminer commented on #89
Hey @Kostas-13 , thank you! Actually the changes on the official site should match the release notes on the GitHub releases page. Is there somewhere else you'd like to see the changeling?

[2022-09-15 03:33] Kostas-13 commented on #89
Nop just that. Should be helpful, specially for noobies like me @bz  thx :)

[2022-09-15 03:33] #89 closed

[2022-09-15 18:37] wakinglf opened #90 "Kaspa mining: throwing an instance of 'cl::Error'"
Connecting to stratum+tcp://na.raptorhash.com:6915 as rig with wallet:
 kaspa:qrh4w76w7yh82vavp8knfj7qrvhxk6y2lxt8cyhpg6d0uvqn5plmqgca6zu0q
 HTTP API Listening on 127.0.0.1:4014
 Connected to stratum+tcp://na.raptorhash.com:6915 using stratum as rig
terminate called after throwing an instance of 'cl::Error'
  what():  clSetKernelArg
Aborted (core dumped)
executable path: (/hive/miners/bzminer/11.0

[2022-09-15 19:59] taomi opened #91 "windows bzminer not working"
![28B14470-F96B-4CB9-86A5-82635FA64F3A](https://user-images.githubusercontent.com/1817451/190497224-5715c373-b9f3-412b-88ce-1b9f1dd8beba.jpeg)

win2019
nvidia 2070 8G

[2022-09-15 20:01] taomi commented on #91
not find device

[2022-09-15 21:22] DaveZak opened #92 "intensity setting ERG + KASP"
tell please, how to prescribe the intensity for each card separately? I found the --i2 command, but it applies to all cards at once, but how to do it for each intensity for each card separately?

[2022-09-16 01:01] Runningwarrior08 commented on #90
Did you try CL disable?

[2022-09-16 01:04] wakinglf commented on #90
Nope, what is CL and how do I disable it?

--
Le Wang, CFO
Kahkoon Technologies, LLC
901-463-0136
________________________________
From: Runningwarrior08 ***@***.***>
Sent: Thursday, September 15, 2022 6:02:10 PM
To: bzminer/bzminer ***@***.***>
Cc: Le Wang ***@***.***>; Author ***@***.***>
Subject: Re: [bzminer/bzminer] Kaspa mining: throwing an instance of 'cl::Error' (Issue #90)

Did you try CL

[2022-09-16 01:05] Runningwarrior08 commented on #90
From the help doc:
Added --disable_opencl option. useful for rigs where bzminer crashes due to amd drivers

If you are using windows add that command into the batch file..

If you are using HIVEOS add to extra config params : "disable_opencl" [true]

[2022-09-16 01:18] wakinglf commented on #90
I disabled opencl and it still gave me the same error.

Is the AMD drivers that I need to revert to an earlier version?

<Warn> CUDA Error: no CUDA-capable device is detected

 Cuda: 11.6

 AMD Driver: 3180.7 (PAL,LC)

________________________________
From: Runningwarrior08 ***@***.***>
Sent: Thursday, September 15, 2022 6:06 PM
To: bzminer/bzminer ***@***.***>
Cc: Le Wang ***@***.***>; Author ***

[2022-09-16 01:30] tsrjshyang opened #93 "hiveos ERG+KAS cannot be set flight sheets"

[2022-09-16 05:02] #93 closed

[2022-09-16 05:06] tsrjshyang opened #94 "hive os ERG+KAS cannot be set flight sheets"
![捕获](https://user-images.githubusercontent.com/84229995/190560732-9d613ea2-0134-41e7-941f-863aa78190d3.PNG)
![2](https://user-images.githubusercontent.com/84229995/190560738-f04cb06f-72b1-4bfa-92d0-a8746408be41.PNG)

[2022-09-16 06:29] #94 closed

[2022-09-16 07:46] tymoteuszrogalewski opened #95 "11.1.0 --help broken?"
[code]

even tried this one below :xD

[code]

[2022-09-16 07:52] taomi commented on #91
WIN 2019   don't work

WIN10 LTSC    can  work

[2022-09-16 11:29] ledou2022 opened #96 "zil_ dual zil_ If the tri cannot be mined"
zil_ dual zil_ If the tri cannot be mined, the ETH address will be automatically used for calculation, but the flextool ETH has been canceled Failed to set erg rvn kaspa and ezil to work together

[2022-09-16 14:57] prodchia commented on #91
Yeh, it's not working on windows. I posted it a couple of days back, but it seems no one cares..

[2022-09-16 15:10] taomi commented on #91
WIN10 LTSC   can working
WIN2019 dont‘s
~ not fix

[2022-09-16 19:29] kuzroman commented on #66
me to - 6600 fall down on default settings without overclock

[2022-09-16 19:45] kiyoung89 opened #97 "kaspa+zil"
kaspa + zil Wouldn't it be possible to mine like this?

[2022-09-16 19:47] L1TTL3big opened #98 "ETC+KAS+ZIL mining - ET shares constantly rejected"
I'm mining (at least trying to) ETC+KAS+ZIL on 3060 v1 (470.05, flexpool) and following settings
 --oc_lock_core_clock 1605 --oc_memory_clock_offset 900 (seems to be stable, although lowering memory_clock_offset to 800 or 0 is rendering the same error), but no matter what KAS and ZIL are accepting shares but ETC always produces refused shares with the following error:
<Warn> GPU 104:0: etchash sol

[2022-09-17 02:25] leevcc commented on #66
config.txt amdonly:ture

[2022-09-17 17:09] xrtw opened #99 "shows not started"
mining into acc-pool and very often when restart rig, it shows Not Started. Need to restart miner 10 times to start mining

[2022-09-18 02:18] Chiqui1234ok opened #100 "[BUG] Radeon 6800 / 6900 XT locked mem at 192MHz"
Hi! I have a RX 6900 XT and RX 6800 in different rigs, same AMD 22.5.1 driver 😁
In both rigs the memory clock of Radeon cards locks at 192MHz therefore performance is low. The measurement of this is correct because I double checked with GPU-Z 👍

I try to set overclock with Adrenaline Radeon's driver with no success. After that, I installed MSI Afterburner and issue continues.

[Image](https://i.im

[2022-09-18 03:58] EricKeong commented on #100
Same here rx6800 non xt miner started as cfg 1cl or 28cl on 1 of the 6 card hung gpu detected and no hashrate, the other 5 card no problem with cfg 30cl.

[2022-09-18 12:30] pdieppa commented on #100
What is your core clock and core voltage for the 6800?

[2022-09-18 13:11] Chiqui1234ok commented on #100
Both my 6900 XT and 6800 I have 1500MHz Core, 2050/2100MHz Mem. Same bug, no matter if I changed the OC while mining

[2022-09-18 13:22] EricKeong commented on #100
As my core clock 1800 vdd(core voltage) 700 for kaspa, it keep gpu hung and restart no hashrate. Now i have get my working already refer to alph overclock, just adding vdd(core voltage) to 725. So i think its the core voltage not enuff for core clock 1800 in my cases.

[2022-09-18 13:30] maxcom99 commented on #98
Sorry to jump on but this might be related... I'm running 6 cards and ETC+RVN+ZIL and RVN keeps kicking out duplicate solution errors.

[2022-09-18 13:50] pdieppa commented on #100
You are correct. It needs higher VDD is order to support the high clock. I run my 6800 XT at 1550 core and 645 VDD hashing at 537mh with a software reported watts of 84.  I'm going for efficiency since my outlet does not support running all the cards at their max.

[2022-09-18 16:25] toci-to-ci commented on #88
SAME COIN,

also none of commands

-i 32 --lhr_stability 85

not working. I have 3cards rig, and minner is setting Intensity always to max (64) and same problem like above - it is making a loop on those (searchng again intensity and again but it reached 64 already)

[2022-09-18 18:58] pdieppa commented on #97
Any hints on how to set this up in HiveOS?

[2022-09-18 19:31] pdieppa commented on #92
Use a command to separate the intensity values

[2022-09-19 01:33] Chiqui1234ok commented on #100
Even at stock clock (without any OC), my mem locks at 192MHz...

[2022-09-19 02:45] grrr32 opened #101 "Setting algo to rvn still mines eth"
<img width="614" alt="Screenshot 2022-09-18 161853" src="https://user-images.githubusercontent.com/106889857/190942121-e98293a2-2006-475f-935b-93ea83daab09.png">
<img width="410" alt="Screenshot 2022-08-04 112457" src="https://user-images.githubusercontent.com/106889857/190942145-798d5a29-f14f-4938-8b89-b7d2ac6ec509.png">

[2022-09-19 04:34] da-tai opened #102 "Shardpool.io Supports ZMP"
You should add shardpool as an alternative pool to their proxy mine and use zmp for miner.

[2022-09-19 15:45] pdieppa commented on #101
That may be a display issue, I don't believe Flypool has ETHASH mining available.

[2022-09-19 15:57] grrr32 commented on #101
Try it out, its not a display issue.
Hashrate is double what is expected and produces 0 valid shares.

[2022-09-19 16:21] pdieppa commented on #101
Interesting, I got the same result as you. All rejected shares. I was using an older version of bzminer so I just updated my HiveOs and it downloaded 11.1.0 with the same results. I even updated my flightsheet to mine at 2Miners and got the same.

I also checked the json file that HiveOs creates for the bzminer and it looks correct specifying "algorithm": "kawpow" .

I think you found something he

[2022-09-19 17:43] CryptoLLC opened #103 "Wont Mine on any Pool, Nonce 24 Error - RavenCoin, KAWPOW"
Kawpow mining on 3080, 3090, hiveos.
Using the most up to date miner and up to date hiveos.
Works just fine on gminer, trex......
I have tried BZMiner on nicehash, hiveon, 2miner, flypool. Nothing works. It shows either that difficulty is to low and rejects the submissions or it shows error nonce 24 out of range. Can someone please help with this?

[2022-09-20 00:51] Chiqui1234ok commented on #100
Anyone? :(

[2022-09-20 12:44] Cledio opened #104 "[BUG] Bzminer don't display Nvidia GeForce GT 1030 Power Info. (Bzminer v11.1.0, Nvidia Driver 516.94, Windows 10)"
[BUG] Bzminer don't display Nvidia GeForce GT1030 Power Info.
Using last bzminer release and last updated NVIDIA Drivers on Windows 10.

*************************
**                     **
**   BzMiner v11.1.0   **
**                     **
*************************

 Language: English
 Working Directory: C:\bzminer_v11.1.0_windows
 Logging to: bzminer.log
 Cuda: 11.7
 Nvidia Driver: 516.94
 AMD D

[2022-09-20 21:32] geoffwade opened #105 "HiveOS using new tri mining ERG-KAS-ZIL"
Hello - I was able to get tri mining to work with the new bzminer version, but only by logging into miner via root and pasting in the command below.   I'm looking for configuration info for the HiveOS flight sheet.   By running via root, Hive dashboard won't show all the information on full GPU status, valid shares, etc.

bzminer -a ergo -w xxxxxx -p stratum-ergo.flypool.org:3333 --a2 kaspa --w2 k

[2022-09-21 04:19] grrr32 commented on #101
Found this link for rvn mining , https://www.bzminer.com/guides/how-to-mine-ravencoin/
 its nfg, even with these settings its still using the ethash algo

[2022-09-21 17:42] CryptoLLC opened #106 "Wont Mine on any Pool, Nonce 24 Error - RavenCoin, KAWPOW ******** PLEASE HELP"
Kawpow mining on 3080, 3090, hiveos.
Using the most up to date miner and up to date hiveos.
Works just fine on gminer, trex......
I have tried BZMiner on nicehash, hiveon, 2miner, flypool. Nothing works. It shows either that difficulty is to low and rejects the submissions or it shows error nonce 24 out of range. Can someone please help with this?

[2022-09-21 18:31] CryptoLLC opened #107 "kawpow solution rejected: error code: 24 Nonce out of worker range"
Constantly getting this error no matter the pool im using. My rigs are 3080, 3090. Please advise.

[2022-09-22 00:21] GjBrutello opened #108 "Function "oc_reset_on_exit": true, doesn't work"
Hello. If i connect to windows console via SSH to control the miner for start, kill process then after the command taskkill /f /im bzminer.exe the function "oc_reset_on_exit": true doesn't work in config.txt and my card still stays with the previous OC settings even if I edit the config to "oc_power_limit": [0] or "oc_memory_clock_offset": [0]. Everytime I need to use the command bzminer.exe --oc_

[2022-09-22 11:15] s-paolo commented on #98
Same issue here, all ETC shares are rejected. Any idea? If I triple mine ETHW is all good and the share are accepted but not on ETC [I am using RaveOS]. The problem then is with Lol miner, on a 3080TI [I have 20 of them] dual mining [ETHW + KAS] I get the full ETHW hashrate of 110Mh/s with BZminer I get only 75Mh/s. I would love to triple mine but currently I am sticking to LolMiner. I get 110Mh/s

[2022-09-22 12:30] dimitriovic opened #109 "mining wont start: Kaspa"
First timer with Bzminer and Kaspa. I have setup a node cli on my main computer then installed bzminer on my rig. when I start bzminer no error but no mining. status tells not mining.
here is my bat file

[code]

[2022-09-22 17:15] CryptoLLC commented on #101
I have the same issue.

[2022-09-27 00:04] gorgarp commented on #79
Hello,

Post merge we've increased our hashrate from 1.25 MSol/s up to 10MSol/s. Would love to know where this stands. As we continue this growth, we could use more quality mining software in the mix.

[2022-09-27 01:18] bzminer commented on #79
Hi @gorgarp ! I'm actually finishing it up in bzminer right now, I expect to have it done in the next day or two and will release!

[2022-09-27 01:19] bzminer commented on #79
Also I appreciate you pinging me about this, sometimes things get lost in my list of things to do but flux has been at the top for a while now and I've finally got the time to get it in! I'll post back here after I release

[2022-09-27 01:24] bzminer commented on #79
Btw @gorgarp , I haven't been super good about watching the GitHub issues, but I'm quite active on discord, you can ping me there and get a response probably much faster, either way is good though!

[2022-09-27 18:22] gorgarp commented on #79
Works for me bud. I'll find the discord so we can have open comms if needed. I can also get you in touch with any team members, should the need arise in the future.

[2022-09-28 18:01] Ferz0id opened #110 "Miner can't start"
Miner can't start on my system. It always stops at `Starting BzMiner watchdog service`
![Снимок](https://user-images.githubusercontent.com/44975254/192855144-ff3acff2-afac-40a4-a70a-0a52bf30562c.PNG)

My spec:
Intel Core i5-7500
ASUS PRIME Z270-P
8GB DDR4-2132

Ready to provide any necessary information

[2022-10-06 13:05] setsunakaeru opened #111 "bzminer kept crashing upon starting"
Some of my Rigs can run bzminer but some others seems not running and kept crashed...

![bzminer-crashes](https://user-images.githubusercontent.com/115161280/194320178-bf9e94d1-d9cc-46a6-8476-6d5d3e5c1fe5.png)

pls help

[2022-10-06 22:23] bzminer commented on #111
Hi @setsunakaeru , which windows version are you running? Which Nvidia driver? Can you try to run with --disable_opencl?

[2022-10-07 03:24] setsunakaeru commented on #111
Thanks @bzminer it works, may i know why this command line need to be included?
Appreciate if you can share some info.

[2022-10-07 05:28] bzminer commented on #111
Hey @setsunakaeru , it's a bug that's fixed in the betas (or hopefully fixed). The problem is that opencl, which is used for amd, sometimes crashes when it tries to enumerate some devices. I believe it's an amd driver install issue, or possibly an issue with the opencl drivers for Nvidia. We don't need to enumerate Nvidia devices with opencl though so I've disabled that by default in the betas. Ho

[2022-10-07 05:36] setsunakaeru commented on #111
Noted with thanks, appreciate for the prompt reply.

[2022-10-09 11:38] blasteffect opened #112 "api not ended correctly"
hi
the api http://url/status not return correctly the informations.
For exemple :
have 12 nvidia 1070 gpus using bzminer, the information has been cut after 8 gpus.

regards

[2022-10-11 06:14] tymoteuszrogalewski commented on #95
same with 12.0.0:

# ./bzminer --help
Error parsing command line arguments

- [bzminer] shutting down bzminer -

[2022-10-12 14:23] maskami opened #113 "rvn solution rejected: local variable session referenced before assignment"
I have a problem mining rvn / kawpow :
the miner close right after that <warn> yellow line appears. Any idea?

<img width="657" alt="error_bzminer" src="https://user-images.githubusercontent.com/115644105/195368308-d725e136-be52-4885-b445-0110c365a726.png">

[2022-10-20 12:20] Jorgelote opened #114 "Mining zil zmp protocol on hiveos"
Issue mining zmp protocol on hiveos, it doesn't start mining it, on windows there is no issue.
Is there anything to do to on the flight sheet to start mining it?
Thanks

[2022-10-20 15:11] bzminer commented on #114
hey @Jorgelote , what algo are you trying to mine zil with?

for kaspa + zil

in the flight sheet, select ethash for the first algo (opens up the second algo option)
use your kaspa wallet and pool url for the first algo

in the second algo, select "kaspa"
use your zil wallet and pool url (pool url being zmp+tcp://eu1-zil.shardpool.io:3333 for shardpool, or zmp://zil.flexpool.io for flexpool)

in e

[2022-10-20 15:13] #111 closed

[2022-10-20 15:15] bzminer commented on #109
sorry for such a delayed reply @dimitriovic , i don't always keep an eye on the github issues. Were you able to get this fixed? or if not do you have a screenshot of the connection to the node? i'm wondering if it failed to connect to the node

[2022-10-20 15:16] bzminer commented on #101
sorry for the delayed reply, @CryptoLLC and @grrr32 , can you try updating to latest bzminer in hive?

[2022-10-20 15:16] bzminer commented on #101
also i need to update that guide, for rvn the algo "rvn" should be selected and not kawpow

[2022-10-20 15:17] bzminer commented on #100
hey @Chiqui1234ok sorry for the delayed reply. bzminer doesn't actually overclock amd right now, so that sounds like a software outside of bzminer setting your amd clocks. do you have them set in a mining os?

[2022-10-20 16:06] grrr32 commented on #101
<img width="688" alt="Screenshot 2022-10-20 095653" src="https://user-images.githubusercontent.com/106889857/196999010-b6a433ae-37a2-4253-b2ca-1f597850c9e0.png">

v12.0.2 is the exact same.

i can get it to mine rvn by setting the main algo to etc and using the force_algo flag, however every accepted solution generates a duplicate on a differect card. i was using 2 of my 3060's when i tested it us

[2022-10-20 20:27] Jorgelote commented on #114
and the option for 3 algos at the same time?
Should i add like:
"force_algo"
"force_algo2"
"force_algo3"
and then something like
"wallet3": "zilwallet"
"pool3": "zmp.flex.."

[2022-10-21 17:19] bzminer commented on #114
hey @Jorgelote , currently hive does not allow a 3rd algo in their interface, so its not possible to do it from the interface. You have to either run manually with a command line argument or use a custom miner with bzminer unfortunately. hopefully they will fix that soon

[2022-10-21 21:53] Jorgelote commented on #114
I have tried mining with windows +zil or even only zil (with my gaming graphic card in would be a pain if i mine another coin that required more power all day) and sometimes it accepts zil on flexpool and sometimes it doesn't i'm talking about the 60 minutes, what could that be? zil only is like this:
bzminer.exe -a zil -w "zilwallet".Principal -p zmp://zil.flexpool.io
and i have tried radiant+zil

[2022-10-29 23:43] Jorgelote opened #115 "how to radiant +zil on hiveos"
how to radiant + zil on hiveos

[2022-10-30 14:10] #115 closed

[2022-11-03 13:57] enk37 opened #116 "BzMiner v12.1.0 nvrtc64_102_0.dll not found while 12.0.2 works fine on the same system"
BzMiner v12.1.0 nvrtc64_102_0.dll not found while 12.0.2 works fine on the same system, drivers 522.25 Windows 10 x64.

[2022-11-03 13:59] enk37 opened #117 "[feature requests]"
- voltage/frequency control support for AMD cards on windows
- UBIQ mining support and dual mining with Kaspa

[2022-11-03 15:03] bzminer commented on #116
Hi @enk37 , thanks for letting me know! I accidentally released a debug build. I've re-uploaded the release build this morning so try downloading again

[2022-11-03 15:03] bzminer commented on #117
Those are both on my list @enk37 , thanks! I'll push them up the list a little so they get done sooner

[2022-11-03 17:23] blasteffect commented on #112
have you got a update of this issue ?
I can show you if you want

[2022-11-03 19:08] bzminer commented on #112
Hi @blasteffect no! I forgot to look into this, I just added it to my list to look into for next release, thanks for reminding me

[2022-11-04 06:58] tymoteuszrogalewski commented on #95
12.1.0
still the same problem:

./bzminer --help
Error parsing command line arguments

[2022-11-04 18:12] bzminer commented on #95
Thanks @tymoteuszrogalewski , I forgot to fix this in latest release, added to top of my list to fix for next release, coming soon. In meantime the GitHub has the output of the options

[2022-11-05 05:53] start-lost opened #118 "[feature requests]"
Nimiq (NIM) mining support and dual mining with Zil

[2022-11-05 10:49] lifejx opened #119 "<Warn> An error occurred enumerating NVIDIA GPU: 1"
When I run kaspa.bat again, it reports the error <Warn> An error occurred enumerating NVIDIA GPU: 1. It may be that the graphics card is not configured correctly, and I don’t know how to configure it. My machine has 6 graphics cards, and there is gpu information in the config.txt file, but I don't know how to configure it. I think it should be automatic, but my environment cannot be configured aut

[2022-11-08 04:16] Kazmadan24 opened #120 "Whatchdog detected in issue. Reconnect."
Каждую секунду Watch Dog выдаёт ошибку ireconnected Miner на сервер Пула. bat файл установлен на Windows 10 антивирусники и Firewall отключены. Ехе запускается с правами админа. Eсли переместить bat файл из рабочего майнера для бз-майнера то Watch Dog опять выдаёт ошибку и делает постоянные реконнекты абсолютно на любых монетах которые без проблем работают в других майнерах.

[2022-11-08 04:23] Kazmadan24 commented on #120
![IMG_20221107_205246_869](https://user-images.githubusercontent.com/117704873/200474598-c69a9d82-eb88-4162-881d-d04341b71752.jpg)

[2022-11-08 04:26] Kazmadan24 commented on #120
Есть ещё одна проблема из двух работающих видеокарт rtx 3080 Одна работает корректно по настройкам разгона а вторая не разгоняется находится на стоковых параметрах если включить другие алгоритмы то карты работают стабильно

[2022-11-08 04:30] Kazmadan24 commented on #120
![16678817887234172378264002655940](https://user-images.githubusercontent.com/117704873/200475410-a71bfc20-5cf0-4bb1-b0cf-1403961c2c8a.jpg)

[2022-11-08 09:28] biluohc opened #121 "BzMiner can't connect to gpumine.org with ethstratum protocol."
It seems BzMiner doesn't send `mining.authorize` until the pool gives it the job.

https://github.com/nicehash/Specifications/blob/master/EthereumStratum_NiceHash_v1.0.0.txt#L259

etc.gpumine.org 1610 can't connect
[code]

etc.f2pool.com 8118 work
[code]

[2022-11-08 23:28] bzminer commented on #121
Thanks @biluohc , I'll take a look at this tomorrow and get it fixed

[2022-11-09 14:25] i1itione opened #122 "It doesn't support mining Kaspa on NiceHash (wallet address issue)."
Now NiceHash support Kaspa algo., but I found BzMiner can't support it due to wallet address is BTC.

[2022-11-10 22:44] bzminer commented on #122
Hey @i1itione , the beta supports nicehash. May release tomorrow. Beta can be found below

https://bzminer.com/downloads/bzminer_v12.1.1b4_windows.zip
https://bzminer.com/downloads/bzminer_v12.1.1b4_linux.tar.gz

[2022-11-11 02:30] SIAFARMER opened #123 "What value # do I use to get maximum performance???"
I can't lock memory clock on my 2080 8gb rig , pstate p0 causing crashes no matter core,memory settings

[2022-11-13 07:06] glibg10b opened #124 ""<Warn> Unable to resolve rxd.vipor.net" even after internet connection is restored"
If my internet connection goes down while bzminer is running, it repeatable outputs this:

[code]

This is to be expected. However, it keeps outputting this, even when my internet connection goes back up. I have to kill and re-run bzminer in order to start mining again.

This is a significant issue, because my internet connection goes down at 18:00 and comes back up at 23:00 every night. This mean

[2022-11-13 08:39] Alibabade opened #125 "How to add dns-over-https in Bzminer?"
Hi there, just as the title says, could anyone please help to set dns-over-https in Bzminer?

[2022-11-13 13:41] bzminer commented on #125
Hi @Alibabade , that feature isn't in bzminer yet, it's on my list so should be in the next release or two

[2022-11-13 13:43] bzminer commented on #124
Hi @glibg10b , be yes this is most certainly a significant issue, it should reconnect as soon as internet is back up. I will investigate this a and fix immediately. Expect this to be fixed in the next beta

[2022-11-14 07:48] FreeEagle2020 commented on #120
I am having the same issue on my rig with BTC-S37 motherboard.
My other rigs on gaming motherboards do not have the same issue.
I am not sure if the above details is relevant to solve the issue.

[2022-11-14 12:20] Kazmadan24 commented on #120
забыл добавить проблема связанна с RADIANT (RXD) Token. Other tokens work.

[2022-11-14 23:28] FreeEagle2020 commented on #120
My issue happens on Kaspa.

[2022-11-15 13:32] Alibabade commented on #125
Thanks!!

[2022-11-15 15:57] yellow-dragon opened #126 "P104 P106 clock core and lock mem"
Please support clock core and lock mem with P104 P106, thanks

[2022-11-17 05:34] droomagon opened #127 "how to skip integrated-graphics on windows?"
when i started running the miner, it detects the INTEL-HD (integrated graphics) on my cpu, is there a way to skip it?

[2022-11-17 07:49] Mario7M opened #128 "Intel driver"
Trying mine kaspa on bzminer ver12.1.1. Miner start with message Intel driver not found. I have AMD CPU. What is wrong?

[2022-11-17 08:55] FreeEagle2020 commented on #128
Yes, I got this issue as well mining kaspa but I am using Intel Celeron CPU 847 on BTC-S37 motherboard.  I also get an error message "Watchdog detected an issue. Bzminer restarted XX times".

[2022-11-17 10:43] Mario7M commented on #128
I have AMD CPU and nvidia 3070 non LHR GPUs so I don`t understand this message: "Intel driver don`t found" after which miner doesn`t start mining.

[2022-11-17 12:20] Jorgelote opened #129 "k1pool zil does not start mining"
Please help, k1pool does not start mining, and flexpool/shardpool only does it sometimes, also wondering how to connect to crazypool zil mining
Thanks

[2022-11-17 18:38] Brellic opened #130 "Help, riggs auto restart"
Hello,
I have 6 nvidia rigs running Kaspa on Hiveos, they are all auto restarting @ the 24 hour mark ,is there a command to fix this issue.

[2022-11-17 19:59] Jorgelote commented on #129
I was able to do it, but it doesn't start mining sometimes, i'm pretty sure it does't calculate time for zil to start mining and it tries to start later that it should, so it stops and continue mining first algo

[2022-11-17 20:01] Jorgelote opened #131 "Please add crazypool Zil possibility"
Please add crazypool Zil possibility or some guide to connect because it displays connection error, i am mining with my AMD cards with teamredminer on crazy and it goes perfectly but on k1pool had some issues, sometimes it would start some didn't, Please and thanks!

[2022-11-18 03:01] setsunakaeru opened #132 "cannot connect to pool server... HELP"
Hi Support,

Can you assist on me half of my rig suddenly won't connect since 14 hours ago.
And it shows this as attached.

![Screenshot 2022-11-18 10 48 18](https://user-images.githubusercontent.com/115161280/202607020-97a642fa-c047-413c-a1d5-87bff9fb6919.png)

[2022-11-18 03:04] #132 closed

[2022-11-18 04:28] icelove88 opened #133 "NVIDIA CMP 50HX cannot lock the momory clock."
try to lock the memory clock to  810. but it lock to  5000.

[2022-11-19 03:42] #122 closed

[2022-11-20 10:40] enk37 commented on #117
@bzminer  thank you, probably you are in a few of miner devs who respond to issues on github at least!

[2022-11-20 11:26] ttonybony commented on #128
I am having the same problem.

[2022-11-21 18:09] AlBundyXXX opened #134 "all 12 versions keep resetting my oc settings in afterbuner"
im still using 11.0.3 because 12.0.2 and 12.1.1 keep resetting oc settings to deafult after starting kaspa mining. Have to set oc setting back in afterburner each time otherwise my cards have insane power draw.   "oc_reset_on_exit": false    yet it still happens

[2022-11-23 08:25] setsunakaeru opened #135 "Bzminer cannot establish connection on woolypooly (Kaspa Mining)"
Hi Support,

Please help... I'm getting these warnings and it won't connect

![bzminer](https://user-images.githubusercontent.com/115161280/203500310-cd66a6fe-60ed-4b2f-9aba-2dbe20764233.png)

[2022-11-23 19:47] Zeland81 opened #136 "k1pool kas+zil issue"
Every 15-20 minutes there is a reconnect to the ZIL pool. A new DAG is created again and again 3-4 times per round. Every time bzminer generate dag for zil and resetting overclocs and resets miner uptime in hiveos.

[2022-11-24 00:40] FreeEagle2020 commented on #135
I had the same issue yesterday but it is fixed after avoiding to use Auto-Geo stratum.

[2022-11-24 04:11] mercury724 commented on #135
Need help, having issues I have 5 nvidia 1660s and 2 amd rx6700xt red devils, the nvidia no issues with kaspa, but both 6700xt are getting all the shares rejected, i'm on woolypooly running hiveos.
![error](https://user-images.githubusercontent.com/76504307/203692544-2726b492-0676-4d3d-80b4-ac2ea09b2d27.JPG)
![kas](https://user-images.githubusercontent.com/76504307/203692551-3f294d44-54aa-4b81-87f

[2022-11-24 04:45] setsunakaeru commented on #135
For my side even avoiding Auto-Geo stratum i still get the warning.
First i tried China it works fine but after 1 day i received same warning, then i change to others, the ping were too high

[2022-11-25 03:45] mercury724 commented on #135
gave up on this, changed to lolminer and everything was running fine and more efficiently, running it for almost 24 hours already with no issues whatsoever.

[2022-11-25 03:53] setsunakaeru commented on #135
ya i gave up also, changed to LOLminer

[2022-11-25 04:55] bzminer commented on #135
Sorry for the late reply, seems there's an issue in bz related to geo location servers, it should work if connected directly to a regions server like us or eu

[2022-11-25 04:57] bzminer commented on #135
The amd rejected shares are fixed in latest beta 3